{
  "openapi": "3.0.1",
  "info": {
    "title": "TMF622 Product Ordering Management API",
    "description": "## TMF API Reference : TMF 622 - Product Ordering Management\n\n## Release : 17.5 - November 2017\n\nThe Product Ordering API provides a standardized mechanism for placing a product order with all of the necessary order parameters. The API consists of a simple set of operations that interact with CRM/Order Negotiation systems in a consistent manner. A product order is created based on a product offer that is defined in a catalog. The product offer identifies the product or set of products that are available to a customer, and includes characteristics such as pricing, product options and market.\n\nThe product order references the product offer and identifies any specific requests made by the customer.\n\n### Product Order resource\nA Product Order is a type of order which  can  be used to place an order  between a customer and a service provider or between a service provider and a partner and vice versa. Main Product  Order  attributes  are  its  identifier,  state,  priority  category  (mass  market,  Enterprise,  etc.) related dates (start, completion, etc.), related billing account, related parties and order items. Main Order Items (aka order lines) attributes are the ordered offering and product characteristics with the  related  action  to  be performed  (e.g.  add  or  delete  the  products),  state,  location  information  for delivery, order item price and price alteration.\n\n### Product Order API performs the following operations on product order :\n- Retrieval of a product order or a collection of product orders depending on filter criteria\n- Partial update of a product order (including updating rules)\n- Creation of a product order (including default values and creation rules)\n- Deletion of product order (for administration purposes)\n- Notification of events on product order.",
    "version": "4.0.0",
    "x-api-proxy-version": 1.2
  },
  "servers": [
    {
      "url": "https://api.developer.com/tmf-api/productOrdering/v4.1/"
    }
  ],
  "tags": [
    {
      "name": "ProductOrder",
      "description": ""
    }
  ],
  "paths": {
    "/productOrder": {
      "get": {
        "tags": [
          "ProductOrder"
        ],
        "summary": "List product orders",
        "description": "This operation list product order entities. Attribute  selection  is enabled for all first level attributes. Filtering may  be available  depending  on the compliance  level supported  by an implementation.\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n",
        "operationId": "productOrderFind",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "schema": {
              "type": "string"
            },
            "example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "schema": {
              "type": "string"
            },
            "example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Attributes selection",
            "schema": {
              "type": "string"
            },
            "example": "externalId, priority, description"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Requested index for start of the resources to be provided in the response",
            "schema": {
              "type": "string"
            },
            "example": 10
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Requested number of resources to be provided in the response",
            "schema": {
              "type": "string"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count": {
                "description": "",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "X-Result-Count": {
                "description": "",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductOrder"
                  }
                }
              },
              "application/json": {
                "example": [
                  {
                    "id": "11",
                    "href": "https://apixHost/tmf-api/productOrdering/v4/productOrder/11",
                    "externalId": "Telco01",
                    "priority": "1",
                    "description": "Order illustration UC1",
                    "category": "Residential",
                    "state": "Completed",
                    "orderDate": "2018-12-17T13:01:35.745Z",
                    "completionDate": "2018-12-17T13:01:35.745Z",
                    "requestedStartDate": "2018-12-17T13:01:35.745Z",
                    "requestedCompletionDate": "2018-12-17T13:01:35.745Z",
                    "expectedCompletionDate": "2018-12-17T13:01:35.745Z",
                    "notificationContact": "jean.pontus@tmforum.com",
                    "@baseType": "productOrder",
                    "@type": "productOrder",
                    "@schemaLocation": "a schema location",
                    "channel": {
                      "id": "1",
                      "href": "http://referenceToAChannel",
                      "name": "store",
                      "role": "submitChannel",
                      "@type": "store"
                    },
                    "note": {
                      "text": "Order to illustrate UC1",
                      "date": "2018-12-17T13:01:35.745Z",
                      "author": "Jean-Lyuc Tymen"
                    },
                    "relatedParty": [
                      {
                        "id": "11",
                        "href": "https://apixHost/tmf-api/partyManagement/v1/individual/11",
                        "name": "Joe Doe",
                        "role": "customer",
                        "@referredType": "individualParty"
                      }
                    ],
                    "payment": [
                      {
                        "id": "2365",
                        "href": "https://apixHost/tmf-api/paymentManagement/v1/payment/2365",
                        "name": "shop payment cash #2365",
                        "@referredType": "cash"
                      }
                    ],
                    "billingAccount": {
                      "id": "BA1513",
                      "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                      "name": "BA01",
                      "@referredType": "billingAccount"
                    },
                    "orderTotalPrice": [
                      {
                        "name": "Final price",
                        "description": "Total price of the order",
                        "priceType": "recuring",
                        "unitOfMeasure": "Euros",
                        "recurringChargePeriod": "monthly",
                        "@type": "a type",
                        "@schemaLocation": "a schema location",
                        "price": {
                          "taxIncludedAmount": {
                            "value": 19,
                            "unit": "Euros"
                          },
                          "dutyFreeAmount": {
                            "value": 0,
                            "unit": "Euros"
                          },
                          "taxRate": 0.19,
                          "percentage": 19,
                          "@type": "a type",
                          "@schemaLocation": "a schema location"
                        },
                        "priceAlteration": [
                          {
                            "name": "20Discount3Months",
                            "description": "discount 20% for 3 months",
                            "priceType": "recuring",
                            "unitOfMeasure": "Euros",
                            "recurringChargePeriod": "monthly",
                            "applicationDuration": "a duration",
                            "priority": 1,
                            "price": {
                              "taxIncludedAmount": {
                                "value": 19,
                                "unit": "Euros"
                              },
                              "dutyFreeAmount": {
                                "value": 0,
                                "unit": "Euros"
                              },
                              "taxRate": 0.19,
                              "percentage": 19,
                              "@type": "a type",
                              "@schemaLocation": "a schema location"
                            },
                            "@type": "a type",
                            "@schemaLocation": "a schema location"
                          }
                        ],
                        "billingAccount": {
                          "id": "BA1513",
                          "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                          "name": "BA01",
                          "@referredType": "billingAccount"
                        }
                      }
                    ],
                    "orderItem": [
                      {
                        "id": "110",
                        "action": "add",
                        "state": "Completed",
                        "quantity": 1,
                        "@type": "a type",
                        "@schemaLocation": "a schema location",
                        "appointment": {
                          "href": "https://apixHost/appointment/v3/appointment/11",
                          "id": "11",
                          "@referredType": "a type"
                        },
                        "billingAccount": {
                          "id": "BA1513",
                          "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                          "name": "BA01",
                          "@referredType": "billingAccount"
                        },
                        "itemPrice": [
                          {
                            "name": "monthly price",
                            "description": "TMF Tariff Plan monthly fee",
                            "priceType": "recuring",
                            "unitOfMeasure": "Euros",
                            "recurringChargePeriod": "monthly",
                            "@type": "a type",
                            "@schemaLocation": "a schema location",
                            "price": {
                              "taxIncludedAmount": {
                                "value": 19,
                                "unit": "Euros"
                              },
                              "dutyFreeAmount": {
                                "value": 0,
                                "unit": "Euros"
                              },
                              "taxRate": 0.19,
                              "percentage": 19,
                              "@type": "a type",
                              "@schemaLocation": "a schema location"
                            },
                            "priceAlteration": [
                              {
                                "name": "20Discount3Months",
                                "description": "discount 20% for 3 months",
                                "priceType": "recuring",
                                "unitOfMeasure": "Euros",
                                "recurringChargePeriod": "monthly",
                                "applicationDuration": "a duration",
                                "priority": 1,
                                "price": {
                                  "taxIncludedAmount": {
                                    "value": 19,
                                    "unit": "Euros"
                                  },
                                  "dutyFreeAmount": {
                                    "value": 0,
                                    "unit": "string"
                                  },
                                  "taxRate": 0.19,
                                  "percentage": 19,
                                  "@type": "a type",
                                  "@schemaLocation": "a schema location"
                                },
                                "@type": "a type",
                                "@schemaLocation": "a schema location"
                              }
                            ],
                            "billingAccount": {
                              "id": "BA1513",
                              "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                              "name": "BA01",
                              "@referredType": "billingAccount"
                            }
                          }
                        ],
                        "itemTotalPrice": [
                          {
                            "name": "Item price",
                            "description": "Total price of the item",
                            "priceType": "recuring",
                            "unitOfMeasure": "Euros",
                            "recurringChargePeriod": "monthly",
                            "@type": "a type",
                            "@schemaLocation": "a schema location",
                            "price": {
                              "taxIncludedAmount": {
                                "value": 19,
                                "unit": "Euros"
                              },
                              "dutyFreeAmount": {
                                "value": 0,
                                "unit": "Euros"
                              },
                              "taxRate": 0.19,
                              "percentage": 19,
                              "@type": "a type",
                              "@schemaLocation": "a schema location"
                            },
                            "priceAlteration": [
                              {
                                "name": "20Discount3Months",
                                "description": "discount 20% for 3 months",
                                "priceType": "recuring",
                                "unitOfMeasure": "Euros",
                                "recurringChargePeriod": "monthly",
                                "applicationDuration": "a duration",
                                "priority": 1,
                                "price": {
                                  "taxIncludedAmount": {
                                    "value": 19,
                                    "unit": "Euros"
                                  },
                                  "dutyFreeAmount": {
                                    "value": 0,
                                    "unit": "string"
                                  },
                                  "taxRate": 0.19,
                                  "percentage": 19,
                                  "@type": "a type",
                                  "@schemaLocation": "a schema location"
                                },
                                "@type": "a type",
                                "@schemaLocation": "a schema location"
                              }
                            ],
                            "billingAccount": {
                              "id": "BA1513",
                              "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                              "name": "BA01",
                              "@referredType": "billingAccount"
                            }
                          }
                        ],
                        "productOffering": {
                          "id": "14344",
                          "href": "https://apixHost/tmf-api/productCatalogManagement/v2/productOffering/14344",
                          "name": "TMF TariffPlan",
                          "@referredType": "a type"
                        },
                        "product": {
                          "id": "14395",
                          "href": "https://apixHost/tmf-api/productInventory/v3/product/14395",
                          "name": "Product Name",
                          "place": [
                            {
                              "id": "222",
                              "href": "https://apixHost/tmf-api/productInventory/v3/product/222",
                              "name": "a place name",
                              "role": "a role",
                              "@referredType": "a type",
                              "@schemaLocation": "a schema location"
                            }
                          ],
                          "characteristic": [
                            {
                              "name": "CoverageOption",
                              "value": "National",
                              "@type": "a type",
                              "@schemaLocation": "a schema location"
                            }
                          ],
                          "relatedParty": [
                            {
                              "id": "333",
                              "href": "https://apixHost/tmf-api/partyManagement/v1/individual/333",
                              "name": "John Doe",
                              "role": "seller",
                              "@referredType": "a type"
                            }
                          ],
                          "productRelationship": [
                            {
                              "type": "reliesOn"
                            }
                          ],
                          "productSpecification": {
                            "id": "14395",
                            "href": "https://apixHost/tmf-api/productCatalogManagement/v2/productSpecification/14395",
                            "version": "1",
                            "name": "A nsme",
                            "targetResourceSchema": {
                              "@type": "a type",
                              "@schemaLocation": "a schema location"
                            }
                          },
                          "@type": "a type",
                          "@schemaLocation": "a schema location"
                        },
                        "orderItemRelationship": [
                          {
                            "type": "reliesOn",
                            "id": "45"
                          }
                        ],
                        "qualification": [
                          {
                            "id": "12",
                            "href": "https://apixHost/tmf-api/productOfferingQualificationManagement/v1/productOfferingQualification/12",
                            "qualificationItemId": "1",
                            "@referredType": "a type"
                          }
                        ],
                        "payment": [
                          {
                            "id": "2365",
                            "href": "https://apixHost/tmf-api/paymentManagement/v1/payment/2365",
                            "name": "shop payment cash #2365",
                            "@referredType": "cash"
                          }
                        ],
                        "itemTerm": [
                          {
                            "name": "12MonthsCommitment",
                            "description": "12 Months commitment",
                            "duration": {
                              "value": 12,
                              "unit": "Months"
                            },
                            "@type": "a type"
                          }
                        ],
                        "orderItem": [
                          null
                        ]
                      }
                    ],
                    "type": "ER Service"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\n\nList of supported error codes:\n- 60: Resource not found",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity\n\nFunctional error",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nList of supported error codes:\n- 1: Internal error",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://confluence.sp.com/tempcps/display/AF/Common+Error+Codes",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "apix_oauth": [
              "PRODUCT_ORDERING_ALL",
              "TMF622_PRODUCT_ORDERING_MANAGEMENT_ALL"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "ProductOrder"
        ],
        "summary": "Create a product order",
        "description": "This operation creates a product order entity. Mandatory and non mandatory attributes, additional rules and default values are provided in the specifications document.\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n",
        "operationId": "productOrderCreate",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Type of data sent in the request.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "schema": {
              "type": "string"
            },
            "example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "schema": {
              "type": "string"
            },
            "example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          }
        ],
        "requestBody": {
          "description": "The request object",
          "content": {
            "application/json;charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/POST_REQ_ProductOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ProductOrder"
                }
              },
              "application/json": {
                "example": {
                  "id": "11",
                  "href": "https://apixHost/tmf-api/productOrdering/v4/productOrder/11",
                  "externalId": "Telco01",
                  "priority": "1",
                  "description": "Order illustration UC1",
                  "category": "Residential",
                  "state": "Completed",
                  "orderDate": "2018-12-17T13:01:35.745Z",
                  "completionDate": "2018-12-17T13:01:35.745Z",
                  "requestedStartDate": "2018-12-17T13:01:35.745Z",
                  "requestedCompletionDate": "2018-12-17T13:01:35.745Z",
                  "expectedCompletionDate": "2018-12-17T13:01:35.745Z",
                  "notificationContact": "jean.pontus@tmforum.com",
                  "@baseType": "productOrder",
                  "@type": "productOrder",
                  "@schemaLocation": "a schema location",
                  "channel": {
                    "id": "1",
                    "href": "http://referenceToAChannel",
                    "name": "store",
                    "role": "submitChannel",
                    "@type": "store"
                  },
                  "note": {
                    "text": "Order to illustrate UC1",
                    "date": "2018-12-17T13:01:35.745Z",
                    "author": "Jean-Lyuc Tymen"
                  },
                  "relatedParty": [
                    {
                      "id": "11",
                      "href": "https://apixHost/tmf-api/partyManagement/v1/individual/11",
                      "name": "Joe Doe",
                      "role": "customer",
                      "@referredType": "individualParty"
                    }
                  ],
                  "payment": [
                    {
                      "id": "2365",
                      "href": "https://apixHost/tmf-api/paymentManagement/v1/payment/2365",
                      "name": "shop payment cash #2365",
                      "@referredType": "cash"
                    }
                  ],
                  "billingAccount": {
                    "id": "BA1513",
                    "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                    "name": "BA01",
                    "@referredType": "billingAccount"
                  },
                  "orderTotalPrice": [
                    {
                      "name": "Final price",
                      "description": "Total price of the order",
                      "priceType": "recuring",
                      "unitOfMeasure": "Euros",
                      "recurringChargePeriod": "monthly",
                      "@type": "a type",
                      "@schemaLocation": "a schema location",
                      "price": {
                        "taxIncludedAmount": {
                          "value": 19,
                          "unit": "Euros"
                        },
                        "dutyFreeAmount": {
                          "value": 0,
                          "unit": "Euros"
                        },
                        "taxRate": 0.19,
                        "percentage": 19,
                        "@type": "a type",
                        "@schemaLocation": "a schema location"
                      },
                      "priceAlteration": [
                        {
                          "name": "20Discount3Months",
                          "description": "discount 20% for 3 months",
                          "priceType": "recuring",
                          "unitOfMeasure": "Euros",
                          "recurringChargePeriod": "monthly",
                          "applicationDuration": "a duration",
                          "priority": 1,
                          "price": {
                            "taxIncludedAmount": {
                              "value": 19,
                              "unit": "Euros"
                            },
                            "dutyFreeAmount": {
                              "value": 0,
                              "unit": "Euros"
                            },
                            "taxRate": 0.19,
                            "percentage": 19,
                            "@type": "a type",
                            "@schemaLocation": "a schema location"
                          },
                          "@type": "a type",
                          "@schemaLocation": "a schema location"
                        }
                      ],
                      "billingAccount": {
                        "id": "BA1513",
                        "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                        "name": "BA01",
                        "@referredType": "billingAccount"
                      }
                    }
                  ],
                  "orderItem": [
                    {
                      "id": "110",
                      "action": "add",
                      "state": "Completed",
                      "quantity": 1,
                      "@type": "a type",
                      "@schemaLocation": "a schema location",
                      "appointment": {
                        "href": "https://apixHost/appointment/v3/appointment/11",
                        "id": "11",
                        "@referredType": "a type"
                      },
                      "billingAccount": {
                        "id": "BA1513",
                        "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                        "name": "BA01",
                        "@referredType": "billingAccount"
                      },
                      "itemPrice": [
                        {
                          "name": "monthly price",
                          "description": "TMF Tariff Plan monthly fee",
                          "priceType": "recuring",
                          "unitOfMeasure": "Euros",
                          "recurringChargePeriod": "monthly",
                          "@type": "a type",
                          "@schemaLocation": "a schema location",
                          "price": {
                            "taxIncludedAmount": {
                              "value": 19,
                              "unit": "Euros"
                            },
                            "dutyFreeAmount": {
                              "value": 0,
                              "unit": "Euros"
                            },
                            "taxRate": 0.19,
                            "percentage": 19,
                            "@type": "a type",
                            "@schemaLocation": "a schema location"
                          },
                          "priceAlteration": [
                            {
                              "name": "20Discount3Months",
                              "description": "discount 20% for 3 months",
                              "priceType": "recuring",
                              "unitOfMeasure": "Euros",
                              "recurringChargePeriod": "monthly",
                              "applicationDuration": "a duration",
                              "priority": 1,
                              "price": {
                                "taxIncludedAmount": {
                                  "value": 19,
                                  "unit": "Euros"
                                },
                                "dutyFreeAmount": {
                                  "value": 0,
                                  "unit": "string"
                                },
                                "taxRate": 0.19,
                                "percentage": 19,
                                "@type": "a type",
                                "@schemaLocation": "a schema location"
                              },
                              "@type": "a type",
                              "@schemaLocation": "a schema location"
                            }
                          ],
                          "billingAccount": {
                            "id": "BA1513",
                            "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                            "name": "BA01",
                            "@referredType": "billingAccount"
                          }
                        }
                      ],
                      "itemTotalPrice": [
                        {
                          "name": "Item price",
                          "description": "Total price of the item",
                          "priceType": "recuring",
                          "unitOfMeasure": "Euros",
                          "recurringChargePeriod": "monthly",
                          "@type": "a type",
                          "@schemaLocation": "a schema location",
                          "price": {
                            "taxIncludedAmount": {
                              "value": 19,
                              "unit": "Euros"
                            },
                            "dutyFreeAmount": {
                              "value": 0,
                              "unit": "Euros"
                            },
                            "taxRate": 0.19,
                            "percentage": 19,
                            "@type": "a type",
                            "@schemaLocation": "a schema location"
                          },
                          "priceAlteration": [
                            {
                              "name": "20Discount3Months",
                              "description": "discount 20% for 3 months",
                              "priceType": "recuring",
                              "unitOfMeasure": "Euros",
                              "recurringChargePeriod": "monthly",
                              "applicationDuration": "a duration",
                              "priority": 1,
                              "price": {
                                "taxIncludedAmount": {
                                  "value": 19,
                                  "unit": "Euros"
                                },
                                "dutyFreeAmount": {
                                  "value": 0,
                                  "unit": "string"
                                },
                                "taxRate": 0.19,
                                "percentage": 19,
                                "@type": "a type",
                                "@schemaLocation": "a schema location"
                              },
                              "@type": "a type",
                              "@schemaLocation": "a schema location"
                            }
                          ],
                          "billingAccount": {
                            "id": "BA1513",
                            "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                            "name": "BA01",
                            "@referredType": "billingAccount"
                          }
                        }
                      ],
                      "productOffering": {
                        "id": "14344",
                        "href": "https://apixHost/tmf-api/productCatalogManagement/v2/productOffering/14344",
                        "name": "TMF TariffPlan",
                        "@referredType": "a type"
                      },
                      "product": {
                        "id": "14395",
                        "href": "https://apixHost/tmf-api/productInventory/v3/product/14395",
                        "name": "Product Name",
                        "place": [
                          {
                            "id": "222",
                            "href": "https://apixHost/tmf-api/productInventory/v3/product/222",
                            "name": "a place name",
                            "role": "a role",
                            "@referredType": "a type",
                            "@schemaLocation": "a schema location"
                          }
                        ],
                        "characteristic": [
                          {
                            "name": "CoverageOption",
                            "value": "National",
                            "@type": "a type",
                            "@schemaLocation": "a schema location"
                          }
                        ],
                        "relatedParty": [
                          {
                            "id": "333",
                            "href": "https://apixHost/tmf-api/partyManagement/v1/individual/333",
                            "name": "John Doe",
                            "role": "seller",
                            "@referredType": "a type"
                          }
                        ],
                        "productRelationship": [
                          {
                            "type": "reliesOn"
                          }
                        ],
                        "productSpecification": {
                          "id": "14395",
                          "href": "https://apixHost/tmf-api/productCatalogManagement/v2/productSpecification/14395",
                          "version": "1",
                          "name": "A nsme",
                          "targetResourceSchema": {
                            "@type": "a type",
                            "@schemaLocation": "a schema location"
                          }
                        },
                        "@type": "a type",
                        "@schemaLocation": "a schema location"
                      },
                      "orderItemRelationship": [
                        {
                          "type": "reliesOn",
                          "id": "45"
                        }
                      ],
                      "qualification": [
                        {
                          "id": "12",
                          "href": "https://apixHost/tmf-api/productOfferingQualificationManagement/v1/productOfferingQualification/12",
                          "qualificationItemId": "1",
                          "@referredType": "a type"
                        }
                      ],
                      "payment": [
                        {
                          "id": "2365",
                          "href": "https://apixHost/tmf-api/paymentManagement/v1/payment/2365",
                          "name": "shop payment cash #2365",
                          "@referredType": "cash"
                        }
                      ],
                      "itemTerm": [
                        {
                          "name": "12MonthsCommitment",
                          "description": "12 Months commitment",
                          "duration": {
                            "value": 12,
                            "unit": "Months"
                          },
                          "@type": "a type"
                        }
                      ],
                      "orderItem": [
                        null
                      ]
                    }
                  ],
                  "type": "ER Service"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\n\nList of supported error codes:\n- 60: Resource not found",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity\n\nFunctional error",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nList of supported error codes:\n- 1: Internal error",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://confluence.sp.com/tempcps/display/AF/Common+Error+Codes",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "apix_oauth": [
              "PRODUCT_ORDERING_ALL",
              "TMF622_PRODUCT_ORDERING_MANAGEMENT_ALL"
            ]
          }
        ],
        "x-codegen-request-body-name": "productOrder"
      }
    },
    "/productOrder/{productOrderId}": {
      "get": {
        "tags": [
          "ProductOrder"
        ],
        "summary": "Retrieve a product order",
        "description": "This operation retrieves  a product order entity. Attribute  selection  is enabled for all first level attributes. Filtering on sub-resources  may  be available  depending on the compliance  level supported by an implementation.\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n",
        "operationId": "productOrderGet",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "schema": {
              "type": "string"
            },
            "example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "schema": {
              "type": "string"
            },
            "example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "productOrderId",
            "in": "path",
            "description": "A string identifier representing the ID of the requested Product Order",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 11
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Attributes selection",
            "schema": {
              "type": "string"
            },
            "example": "externalId, priority, description"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ProductOrder"
                }
              },
              "application/json": {
                "example": {
                  "id": "11",
                  "href": "https://apixHost/tmf-api/productOrdering/v4/productOrder/11",
                  "externalId": "Telco01",
                  "priority": "1",
                  "description": "Order illustration UC1",
                  "category": "Residential",
                  "state": "Completed",
                  "orderDate": "2018-12-17T13:01:35.745Z",
                  "completionDate": "2018-12-17T13:01:35.745Z",
                  "requestedStartDate": "2018-12-17T13:01:35.745Z",
                  "requestedCompletionDate": "2018-12-17T13:01:35.745Z",
                  "expectedCompletionDate": "2018-12-17T13:01:35.745Z",
                  "notificationContact": "jean.pontus@tmforum.com",
                  "@baseType": "productOrder",
                  "@type": "productOrder",
                  "@schemaLocation": "a schema location",
                  "channel": {
                    "id": "1",
                    "href": "http://referenceToAChannel",
                    "name": "store",
                    "role": "submitChannel",
                    "@type": "store"
                  },
                  "note": {
                    "text": "Order to illustrate UC1",
                    "date": "2018-12-17T13:01:35.745Z",
                    "author": "Jean-Lyuc Tymen"
                  },
                  "relatedParty": [
                    {
                      "id": "11",
                      "href": "https://apixHost/tmf-api/partyManagement/v1/individual/11",
                      "name": "Joe Doe",
                      "role": "customer",
                      "@referredType": "individualParty"
                    }
                  ],
                  "payment": [
                    {
                      "id": "2365",
                      "href": "https://apixHost/tmf-api/paymentManagement/v1/payment/2365",
                      "name": "shop payment cash #2365",
                      "@referredType": "cash"
                    }
                  ],
                  "billingAccount": {
                    "id": "BA1513",
                    "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                    "name": "BA01",
                    "@referredType": "billingAccount"
                  },
                  "orderTotalPrice": [
                    {
                      "name": "Final price",
                      "description": "Total price of the order",
                      "priceType": "recuring",
                      "unitOfMeasure": "Euros",
                      "recurringChargePeriod": "monthly",
                      "@type": "a type",
                      "@schemaLocation": "a schema location",
                      "price": {
                        "taxIncludedAmount": {
                          "value": 19,
                          "unit": "Euros"
                        },
                        "dutyFreeAmount": {
                          "value": 0,
                          "unit": "Euros"
                        },
                        "taxRate": 0.19,
                        "percentage": 19,
                        "@type": "a type",
                        "@schemaLocation": "a schema location"
                      },
                      "priceAlteration": [
                        {
                          "name": "20Discount3Months",
                          "description": "discount 20% for 3 months",
                          "priceType": "recuring",
                          "unitOfMeasure": "Euros",
                          "recurringChargePeriod": "monthly",
                          "applicationDuration": "a duration",
                          "priority": 1,
                          "price": {
                            "taxIncludedAmount": {
                              "value": 19,
                              "unit": "Euros"
                            },
                            "dutyFreeAmount": {
                              "value": 0,
                              "unit": "Euros"
                            },
                            "taxRate": 0.19,
                            "percentage": 19,
                            "@type": "a type",
                            "@schemaLocation": "a schema location"
                          },
                          "@type": "a type",
                          "@schemaLocation": "a schema location"
                        }
                      ],
                      "billingAccount": {
                        "id": "BA1513",
                        "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                        "name": "BA01",
                        "@referredType": "billingAccount"
                      }
                    }
                  ],
                  "orderItem": [
                    {
                      "id": "110",
                      "action": "add",
                      "state": "Completed",
                      "quantity": 1,
                      "@type": "a type",
                      "@schemaLocation": "a schema location",
                      "appointment": {
                        "href": "https://apixHost/appointment/v3/appointment/11",
                        "id": "11",
                        "@referredType": "a type"
                      },
                      "billingAccount": {
                        "id": "BA1513",
                        "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                        "name": "BA01",
                        "@referredType": "billingAccount"
                      },
                      "itemPrice": [
                        {
                          "name": "monthly price",
                          "description": "TMF Tariff Plan monthly fee",
                          "priceType": "recuring",
                          "unitOfMeasure": "Euros",
                          "recurringChargePeriod": "monthly",
                          "@type": "a type",
                          "@schemaLocation": "a schema location",
                          "price": {
                            "taxIncludedAmount": {
                              "value": 19,
                              "unit": "Euros"
                            },
                            "dutyFreeAmount": {
                              "value": 0,
                              "unit": "Euros"
                            },
                            "taxRate": 0.19,
                            "percentage": 19,
                            "@type": "a type",
                            "@schemaLocation": "a schema location"
                          },
                          "priceAlteration": [
                            {
                              "name": "20Discount3Months",
                              "description": "discount 20% for 3 months",
                              "priceType": "recuring",
                              "unitOfMeasure": "Euros",
                              "recurringChargePeriod": "monthly",
                              "applicationDuration": "a duration",
                              "priority": 1,
                              "price": {
                                "taxIncludedAmount": {
                                  "value": 19,
                                  "unit": "Euros"
                                },
                                "dutyFreeAmount": {
                                  "value": 0,
                                  "unit": "string"
                                },
                                "taxRate": 0.19,
                                "percentage": 19,
                                "@type": "a type",
                                "@schemaLocation": "a schema location"
                              },
                              "@type": "a type",
                              "@schemaLocation": "a schema location"
                            }
                          ],
                          "billingAccount": {
                            "id": "BA1513",
                            "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                            "name": "BA01",
                            "@referredType": "billingAccount"
                          }
                        }
                      ],
                      "itemTotalPrice": [
                        {
                          "name": "Item price",
                          "description": "Total price of the item",
                          "priceType": "recuring",
                          "unitOfMeasure": "Euros",
                          "recurringChargePeriod": "monthly",
                          "@type": "a type",
                          "@schemaLocation": "a schema location",
                          "price": {
                            "taxIncludedAmount": {
                              "value": 19,
                              "unit": "Euros"
                            },
                            "dutyFreeAmount": {
                              "value": 0,
                              "unit": "Euros"
                            },
                            "taxRate": 0.19,
                            "percentage": 19,
                            "@type": "a type",
                            "@schemaLocation": "a schema location"
                          },
                          "priceAlteration": [
                            {
                              "name": "20Discount3Months",
                              "description": "discount 20% for 3 months",
                              "priceType": "recuring",
                              "unitOfMeasure": "Euros",
                              "recurringChargePeriod": "monthly",
                              "applicationDuration": "a duration",
                              "priority": 1,
                              "price": {
                                "taxIncludedAmount": {
                                  "value": 19,
                                  "unit": "Euros"
                                },
                                "dutyFreeAmount": {
                                  "value": 0,
                                  "unit": "string"
                                },
                                "taxRate": 0.19,
                                "percentage": 19,
                                "@type": "a type",
                                "@schemaLocation": "a schema location"
                              },
                              "@type": "a type",
                              "@schemaLocation": "a schema location"
                            }
                          ],
                          "billingAccount": {
                            "id": "BA1513",
                            "href": "https://apixHost/tmf-api/accountManagement/v2/billingAccount/BA1513",
                            "name": "BA01",
                            "@referredType": "billingAccount"
                          }
                        }
                      ],
                      "productOffering": {
                        "id": "14344",
                        "href": "https://apixHost/tmf-api/productCatalogManagement/v2/productOffering/14344",
                        "name": "TMF TariffPlan",
                        "@referredType": "a type"
                      },
                      "product": {
                        "id": "14395",
                        "href": "https://apixHost/tmf-api/productInventory/v3/product/14395",
                        "name": "Product Name",
                        "place": [
                          {
                            "id": "222",
                            "href": "https://apixHost/tmf-api/productInventory/v3/product/222",
                            "name": "a place name",
                            "role": "a role",
                            "@referredType": "a type",
                            "@schemaLocation": "a schema location"
                          }
                        ],
                        "characteristic": [
                          {
                            "name": "CoverageOption",
                            "value": "National",
                            "@type": "a type",
                            "@schemaLocation": "a schema location"
                          }
                        ],
                        "relatedParty": [
                          {
                            "id": "333",
                            "href": "https://apixHost/tmf-api/partyManagement/v1/individual/333",
                            "name": "John Doe",
                            "role": "seller",
                            "@referredType": "a type"
                          }
                        ],
                        "productRelationship": [
                          {
                            "type": "reliesOn"
                          }
                        ],
                        "productSpecification": {
                          "id": "14395",
                          "href": "https://apixHost/tmf-api/productCatalogManagement/v2/productSpecification/14395",
                          "version": "1",
                          "name": "A nsme",
                          "targetResourceSchema": {
                            "@type": "a type",
                            "@schemaLocation": "a schema location"
                          }
                        },
                        "@type": "a type",
                        "@schemaLocation": "a schema location"
                      },
                      "orderItemRelationship": [
                        {
                          "type": "reliesOn",
                          "id": "45"
                        }
                      ],
                      "qualification": [
                        {
                          "id": "12",
                          "href": "https://apixHost/tmf-api/productOfferingQualificationManagement/v1/productOfferingQualification/12",
                          "qualificationItemId": "1",
                          "@referredType": "a type"
                        }
                      ],
                      "payment": [
                        {
                          "id": "2365",
                          "href": "https://apixHost/tmf-api/paymentManagement/v1/payment/2365",
                          "name": "shop payment cash #2365",
                          "@referredType": "cash"
                        }
                      ],
                      "itemTerm": [
                        {
                          "name": "12MonthsCommitment",
                          "description": "12 Months commitment",
                          "duration": {
                            "value": 12,
                            "unit": "Months"
                          },
                          "@type": "a type"
                        }
                      ],
                      "orderItem": [
                        null
                      ]
                    }
                  ],
                  "type": "ER Service"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\n\nList of supported error codes:\n- 50: Access denied\n- 51: Forbidden requester\n- 52: Forbidden user\n- 53: Too many requests",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\n\nList of supported error codes:\n- 60: Resource not found",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity\n\nFunctional error",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nList of supported error codes:\n- 1: Internal error",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRepresentation"
                }
              }
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://confluence.sp.com/tempcps/display/AF/Common+Error+Codes",
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "description": "Expiration header token.",
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Type": {
                "description": "Always \"application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json;charset=utf-8": {
[...]
