{
  "swagger": "2.0",
  "info": {
    "title": "TMF677 UsageConsumption",
    "description": "## TMF API Reference: TMF677 - Usage Consumption\n\n### Release: 18.5 - December 2018\n\nThis API covers the consumption follow up function providing ongoing information about usages related to any subscribed communication products (voice, data, TV,…) without having to wait the invoice production. These information may concern usages charged on a bucket supervised or not and so the remaining credits on the bucket. It allows customers or users to be informed on usages done and remaining credits on the buckets that they consume under their purchased offers and options.\n\nThe usage consumption API allow to view at a given point the balance and the consumption counters of the various buckets (SMS, Voice, Data for example) that one or more user(s) consume with each of his devices, according to the purchased offers and options.\n\n### Resources \n- **usageConsumptionReport** : an usage consumption report retrieves the data related to these balances and various consumption counters and calculated at the time of the request by the server.\n\n\nCopyright © TM Forum 2018. All Rights Reserved.",
    "version": "3.0.1",
    "x-api-proxy-version": 3.1
  },
  "host": "api.developer.com",
  "basePath": "/tmf-api/usageConsumption/v3/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json;charset=utf-8"
  ],
  "produces": [
    "application/json;charset=utf-8"
  ],
  "tags": [
    {
      "name": "usageConsumptionReport"
    }
  ],
  "x-api-specification-type": "TMF",
  "x-api-access-definition": "open",
  "x-backend-connection-basepath": "/tmf-api/usageConsumption/v3",
  "x-backend-connection-preprod": "TBD",
  "x-backend-connection-prod": "TBD",
  "securityDefinitions": {
    "apix_oauth": {
      "type": "oauth2",
      "tokenUrl": "https://api.developer.com/v1/apixoauth2password/oauth2/token",
      "flow": "password",
      "scopes": {
        "TMF677_USAGE_CONSUMPTION_ALL": "API Consumer is allowed to consume all the operations."
      }
    }
  },
  "paths": {
    "/usageConsumptionReport": {
      "get": {
        "operationId": "listUsageConsumptionReport",
        "summary": "List or find UsageConsumptionReport objects",
        "description": "This operation list or find UsageConsumptionReport entities",
        "tags": [
          "usageConsumptionReport"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "description": "* Contains the APIX OAuth token(access token) as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "vf-trace-transaction-id",
            "description": "* Consumer specified unique transaction identifier.\n* Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n* Format: Case insensitive, RFC 2616.",
            "in": "header",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "in": "header",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The language to be used in the response. Allowed values are (el, en)",
            "required": false,
            "type": "string",
            "enum": [
              "el",
              "en"
            ],
            "x-example": "en"
          },
          {
            "name": "vf-target-environment",
            "in": "header",
            "description": "Used for multiclient capability which, if defined, is used to extract the target endpoint .",
            "required": false,
            "type": "string",
            "x-example": "dev"
          },
          {
            "name": "Accept",
            "default": "application/json",
            "description": "Always application/json",
            "in": "header",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "type": "string",
            "required": false,
            "in": "query",
            "name": "fields",
            "description": "Comma-separated properties to be provided in response",
            "x-example": "name, description, effectiveDate"
          },
          {
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "offset",
            "description": "Requested index for start of resources to be provided in response",
            "x-example": 1
          },
          {
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "limit",
            "description": "Requested number of resources to be provided in response",
            "x-example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Total-Count": {
                "type": "integer",
                "description": "Total number of items matching criteria"
              },
              "X-Result-Count": {
                "type": "integer",
                "description": "Actual number of items returned in the response body"
              },
              "Cache-Control": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "Content-Type": {
                "description": "Eg: application/json",
                "type": "string"
              },
              "Expires": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Date": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Pragma": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID, if provided, the same value is returned, elsewise a new value is generated.",
                "type": "string"
              }
            },
            "schema": {
              "items": {
                "$ref": "#/definitions/UsageConsumptionReport"
              },
              "type": "array"
            },
            "examples": {
              "application/json": [
                {
                  "effectiveDate": "2019-12-13T10:15:20Z",
                  "bucket": [
                    {
                      "@type": "Bucket",
                      "id": "MI_GPRS_1024",
                      "name": "Internet for my Mobile",
                      "bucketBalance": [
                        {
                          "remainingValue": {
                            "amount": 1024,
                            "units": "MB"
                          },
                          "validFor": {
                            "endDateTime": "2020-01-08T22:00:00Z"
                          }
                        }
                      ],
                      "bucketCounter": [
                        {
                          "counterType": "Total",
                          "value": {
                            "amount": 1024,
                            "units": "MB"
                          }
                        },
                        {
                          "counterType": "Allowance",
                          "consumptionPeriod": {
                            "endDateTime": "2019-12-13T10:15:20Z"
                          },
                          "valueName": "NORMAL",
                          "product": {
                            "name": "MI_GPRS_1024"
                          }
                        }
                      ],
                      "product": [
                        {
                          "@type": "BASIC",
                          "id": "BDLEM1GBb",
                          "name": "???",
                          "publicIdentifier": "6937977643"
                        }
                      ],
                      "usageType": "DATA"
                    }
                  ]
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value",
            "headers": {
              "Cache-Control": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "Content-Type": {
                "description": "Eg: application/json",
                "type": "string"
              },
              "Expires": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Date": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Pragma": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID, if provided, the same value is returned, elsewise a new value is generated.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found\n\nList of supported error codes:\n- 60: Resource not found",
            "headers": {
              "Cache-Control": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "Content-Type": {
                "description": "Eg: application/json",
                "type": "string"
              },
              "Expires": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Date": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Pragma": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID, if provided, the same value is returned, elsewise a new value is generated.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed\n\nList of supported error codes:\n- 61: Method not allowed",
            "headers": {
              "Cache-Control": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "Content-Type": {
                "description": "Eg: application/json",
                "type": "string"
              },
              "Expires": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Date": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Pragma": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID, if provided, the same value is returned, elsewise a new value is generated.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "Unprocessable entity\n\nFunctional error",
            "headers": {
              "Cache-Control": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "Content-Type": {
                "description": "Eg: application/json",
                "type": "string"
              },
              "Expires": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Date": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Pragma": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID, if provided, the same value is returned, elsewise a new value is generated.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error\n\nList of supported error codes:\n- 1: Internal error",
            "headers": {
              "Cache-Control": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "Content-Type": {
                "description": "Eg: application/json",
                "type": "string"
              },
              "Expires": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Date": {
                "description": "Must be forwarded from backend response. Otherwise set to current date and time (such as \"Sun, 06 Nov 1994 08:49:37 GM\")",
                "type": "string"
              },
              "Pragma": {
                "description": "Must be forwarded from backend response. Otherwise set to default value \"no-cache\"",
                "type": "string"
              },
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID, if provided, the same value is returned, elsewise a new value is generated.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "TMF677_USAGE_CONSUMPTION_ALL"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "ConsumptionSummary": {
      "type": "object",
      "description": "The consumption counters (called ConsumptionSummary in the SID model) detail for example the different kind of consumption done on the bucket.",
      "properties": {
        "counterType": {
          "type": "string",
          "description": "Type of the consumption counter. We can give for example a counter of the used value for a bucket (counterType=used for example) or the value of the consumption done out of the bucket(s) (counterType=outOfBucket for example)"
        },
        "level": {
          "type": "string",
          "description": "Counter level. The counter can be given globally for the bucket or detailed by user or by network product for example in case of shared bucket"
        },
        "valueName": {
          "type": "string",
          "description": "Value of the counter in a formatted string used for display needs for example"
        },
        "consumptionPeriod": {
          "$ref": "#/definitions/TimePeriod",
          "description": "Consumption counter period between a start date time and an end date time. For prepaid bucket, the period of counters is between the start date of the bucket and the effective date of the usage consumption report generation. For postpaid bucket, the period of counters is between the last bill date and the effective date of the usage consumption report generation."
        },
        "product": {
          "$ref": "#/definitions/NetworkProductRef",
          "description": "Public identifier associated to the product for which the consumption counter is detailed. If the level of the counter is global (i.e. concerning all the network products), the list of them is not specified. It can be found through the network products listed in the bucket sub-resource"
        },
        "user": {
          "$ref": "#/definitions/RelatedParty",
          "description": "Reference of the user for which the consumption counter is detailed. If the level of the counter is global (i.e. concerning all the users), the list of them is not specified. It can be found through the users listed in the network products of the bucket sub-resource"
        },
        "value": {
          "$ref": "#/definitions/Quantity",
          "description": "Numeric value of the bucket counter in a given unit"
        },
        "@baseType": {
          "type": "string",
          "description": "When sub-classing, this defines the super-class"
        },
        "@schemaLocation": {
          "type": "string",
          "description": "A URI to a JSON-Schema file that defines additional attributes and relationships",
          "format": "uri"
        },
        "@type": {
          "type": "string",
          "description": "When sub-classing, this defines the sub-class entity name"
        }
      }
    },
    "NetworkProduct": {
      "type": "object",
      "description": "An instantiated network product (specialization of a product) subscribed by a customer.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of the network product"
        },
        "href": {
          "type": "string",
          "description": "Reference to the network product"
        },
        "name": {
          "type": "string",
          "description": "Network product name"
        },
        "publicIdentifier": {
          "type": "string",
          "description": "Public number associated to the network product (msisdn number for mobile line for example)"
        },
        "outOfBucketCounter": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConsumptionSummary"
          },
          "description": "Counters detailing usage consumption out of the buckets"
        },
        "user": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RelatedParty"
          },
          "description": "References of the users of the network product"
        },
        "@baseType": {
          "type": "string",
          "description": "When sub-classing, this defines the super-class"
        },
        "@schemaLocation": {
          "type": "string",
          "description": "A URI to a JSON-Schema file that defines additional attributes and relationships",
          "format": "uri"
        },
        "@type": {
          "type": "string",
          "description": "When sub-classing, this defines the sub-class entity name"
        }
      }
    },
    "NetworkProductRef": {
      "type": "object",
      "description": "Reference of a product",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of the network product"
        },
        "href": {
          "type": "string",
          "description": "Reference to the network product"
        },
        "name": {
          "type": "string",
          "description": "Network product name"
        },
        "publicIdentifier": {
          "type": "string",
          "description": "Public number associated to the product (msisdn number for mobile line for example)"
        },
        "@baseType": {
          "type": "string",
          "description": "When sub-classing, this defines the super-class"
        },
        "@schemaLocation": {
          "type": "string",
          "description": "A URI to a JSON-Schema file that defines additional attributes and relationships",
          "format": "uri"
        },
        "@type": {
          "type": "string",
          "description": "When sub-classing, this defines the sub-class entity name"
        },
        "@referredType": {
          "type": "string",
          "description": "Generic attribute indicating the name of the class type of the referred resource entity"
        }
      },
      "required": [
        "id",
        "href"
      ]
    },
    "Quantity": {
      "type": "object",
      "description": "An amount in a given unit",
      "properties": {
        "amount": {
          "default": 1,
          "type": "number",
          "format": "float",
          "description": "Numeric value in a given unit"
        },
        "units": {
          "type": "string",
          "description": "Unit"
        }
      }
    },
    "RelatedParty": {
      "type": "object",
      "description": "RelatedParty reference. A related party defines party or party role linked to a specific entity.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of a related party"
        },
        "href": {
          "type": "string",
          "description": "Reference of the related party, could be a party reference or a party role reference"
        },
        "name": {
          "type": "string",
          "description": "Name of the related party"
        },
        "role": {
          "type": "string",
          "description": "Role of the related party."
        },
        "@baseType": {
          "type": "string",
          "description": "When sub-classing, this defines the super-class"
        },
        "@schemaLocation": {
          "type": "string",
          "description": "A URI to a JSON-Schema file that defines additional attributes and relationships"
        },
        "@type": {
          "type": "string",
          "description": "When sub-classing, this defines the sub-class entity name"
        },
        "@referredType": {
          "type": "string",
          "description": "The actual type of the target instance when needed for disambiguation."
        }
      }
    },
    "TimePeriod": {
      "type": "object",
      "description": "A period of time, either as a deadline (endDateTime only) a startDateTime only, or both",
      "properties": {
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "End of the time period, using IETC-RFC-3339 format"
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start of the time period, using IETC-RFC-3339 format. If you define a start, you must also define an end"
        }
      }
    },
    "UsageConsumptionReport": {
      "type": "object",
      "description": "An usage consumption report enables to know at a given point the balances and the consumption counters related to various buckets (SMS, Voice, Data for example). It could be calculated for a device identified by a public key (msisdn number for a mobile device for example or PSTN or VOIP number for a fix device), for a subscribed offer or option or for an user.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The report is calculated at the time of the request by the server. Generally, this report is not recorded by the server. If it is, an unique identifier of the usage consumption report is given by the server"
        },
        "href": {
          "type": "string",
          "description": "Hyperlink to access the usage consumption report. The report is calculated at the time of the request by the server. Generally, this report is not recorded by the server. If it is, an unique identifier of the usage consumption report is given by the server"
        },
        "description": {
          "type": "string",
          "description": "Free short text describing the usage consumption report content"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time when the usage consumption report was calculated and generated"
        },
        "name": {
          "type": "string",
          "description": "Usage consumption report name"
        },
        "bucket": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UsageVolumeProduct"
          },
          "description": "Bucket(s) included in the offer or option subscribed."
        },
        "relatedParty": {
          "$ref": "#/definitions/RelatedParty"
        },
        "@baseType": {
          "type": "string",
          "description": "When sub-classing, this defines the super-class"
        },
        "@schemaLocation": {
          "type": "string",
          "description": "A URI to a JSON-Schema file that defines additional attributes and relationships",
          "format": "uri"
        },
        "@type": {
          "type": "string",
          "description": "When sub-classing, this defines the sub-class entity name"
        }
      }
    },
    "UsageVolumeBalance": {
      "type": "object",
      "description": "The balance (called UsageVolumeBalance in the SID model) defines the remaining allowed product usage quantity in terms of volume, time, currency or events. It corresponds to the initial allowed usage quantity minus the usage consumed on the bucket.",
      "properties": {
        "remainingValueName": {
          "type": "string",
          "description": "Remaining value in a formatted string for the bucket given in the balance unit (for example 1.9 Gb). This formatted string could be used for display needs for example"
        },
        "remainingValue": {
          "$ref": "#/definitions/Quantity",
          "description": "Numeric remaining value for the bucket given in the unit (for example 1.9). This numeric value could be used for calculation for example"
        },
        "validFor": {
          "$ref": "#/definitions/TimePeriod",
          "description": "Balance period between a start date time and an end date time. For prepaid bucket, the period of the balance is between the  effective date of the usage consumption report generation and the end date of the bucket. For postpaid bucket, the period of the balance is between the effective date of the usage consumption report generation and the next bill date."
        },
        "@baseType": {
          "type": "string",
          "description": "When sub-classing, this defines the super-class"
        },
        "@schemaLocation": {
          "type": "string",
          "description": "A URI to a JSON-Schema file that defines additional attributes and relationships",
          "format": "uri"
        },
        "@type": {
          "type": "string",
          "description": "When sub-classing, this defines the sub-class entity name"
        }
      }
    },
    "UsageVolumeProduct": {
      "type": "object",
      "description": "A bucket (called UsageVolumeProduct in the SID model) represents a quantity of usage, as 2 hours national calls or 50 sms for example. It could be either a quantity or an amount in a currency (i.e. It could represent a fixed number of SMS, MMS, minutes of calls, quantity of data, number of events as well as a specific amount in a given currency). It requires one or more network products from which usages will debit the bucket.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of the bucket"
        },
        "isShared": {
          "type": "boolean",
          "description": "True if the bucket is shared between several devices or users"
        },
        "name": {
          "type": "string",
          "description": "Bucket name"
        },
        "usageType": {
          "type": "string",
          "description": "Type of usage concerned by the bucket, such as voice, sms, data"
        },
        "bucketBalance": {
          "type": "array",
          "description": "Bucket Balance object container",
          "items": {
            "$ref": "#/definitions/UsageVolumeBalance"
          }
        },
        "bucketCounter": {
          "type": "array",
          "description": "Bucket Counter object container",
          "items": {
            "$ref": "#/definitions/ConsumptionSummary"
          }
        },
        "product": {
          "type": "array",
          "description": "Product object container",
          "items": {
            "$ref": "#/definitions/NetworkProduct"
          }
        },
        "@baseType": {
          "type": "string",
          "description": "When sub-classing, this defines the super-class"
        },
        "@schemaLocation": {
          "type": "string",
          "description": "A URI to a JSON-Schema file that defines additional attributes and relationships",
          "format": "uri"
        },
        "@type": {
          "type": "string",
          "description": "When sub-classing, this defines the sub-class entity name"
        }
      }
    },
    "Error": {
      "required": [
        "code",
        "reason"
      ],
      "type": "object",
      "description": "Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)",
      "properties": {
        "code": {
          "type": "integer",
          "description": "Application relevant detail, defined in the API or a common list."
        },
        "reason": {
          "type": "string",
          "description": "Explanation of the reason for the error which can be shown to a client user."
        },
        "message": {
          "type": "string",
          "description": "More details and corrective actions related to the error which can be shown to a client user."
        },
        "status": {
          "type": "integer",
          "description": "HTTP Error code extension"
        },
        "referenceError": {
          "type": "string",
          "description": "URI of documentation describing the error.",
          "format": "uri"
        },
        "@baseType": {
          "type": "string",
          "description": "When sub-classing, this defines the super-class."
        },
        "@schemaLocation": {
          "type": "string",
          "description": "A URI to a JSON-Schema file that defines additional attributes and relationships",
          "format": "uri"
        },
        "@type": {
          "type": "string",
          "description": "When sub-classing, this defines the sub-class entity name."
        }
      }
    }
  }
}