{
  "swagger": "2.0",
  "info": {
    "description": "This is Swagger UI environment generated for the TMF Enhancement to Privacy Management API specification",
    "version": "2.0",
    "title": "TMF644 Privacy Management",
    "x-api-proxy-version": 1.1
  },
  "host": "api.developer.com",
  "basePath": "/tmf-api/privacyManagement/v2",
  "x-backend-connection-prod": "TBC",
  "x-backend-connection-preprod": "TBC",
  "x-backend-connection-basepath": "TBC",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "apix_oauth": {
      "type": "oauth2",
      "tokenUrl": "https://api.developer.com/v1/apixoauth2password/oauth2/token",
      "flow": "password",
      "scopes": {
        "TMF_PRIVACY_MANAGEMENT_ALL": "API Consumer is allowed to consume all the operations.",
        "TMF644_PRIVACY_MANAGEMENT_ALL": "API Consumer is allowed to consume all the operations."
      }
    }
  },
  "paths": {
    "/partyPrivacyProfileType": {
      "post": {
        "tags": [
          "partyPrivacyProfileType"
        ],
        "operationId": "partyPrivacyProfileTypeCreate",
        "summary": "create",
        "description": "This operation is used to create a privacy profile type.",
        "deprecated": false,
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Content-Type",
            "description": "Type of data sent in the request.",
            "in": "header",
            "type": "string",
            "required": false,
            "x-example": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "partyPrivacyProfileType",
            "in": "body",
            "required": true,
            "description": "Object representation of the party privacy profile type to be created",
            "schema": {
              "$ref": "#/definitions/partyPrivacyProfileType"
            },
            "x-example": {
              "version": "1.0",
              "lastUpdate": "2019-05-30T06:08:03.996Z",
              "name": "Customer Mass Market Privacy",
              "description": "This is customer Mass Market Privacy",
              "lifecycleStatus": "string",
              "validFor": {
                "startDateTime": "2019-05-30T06:08:03.996Z",
                "endDateTime": "2019-05-30T06:08:03.996Z"
              },
              "applicableRole": [
                {
                  "role": "customer"
                }
              ],
              "relatedParty": [
                {
                  "id": 1066,
                  "href": "http://serverlocation:port/partyManagement/individual/1066",
                  "role": "Profile Type Admin"
                }
              ],
              "partyPrivacyProfileTypeCharacteristic": [
                {
                  "id": 42,
                  "name": "eMailAddress",
                  "description": "Email address privacy for internal ADMIN purpose",
                  "privacyType": "Internal Purpose",
                  "criticityLevel": "low",
                  "validFor": {
                    "startDateTime": "2019-05-30T06:08:03.996Z",
                    "endDateTime": "2019-05-30T06:08:03.996Z"
                  },
                  "relatedRole": [
                    {
                      "role": "Administrator"
                    }
                  ],
                  "partyPrivacyProfileTypeCharValue": [
                    {
                      "valueType": "string",
                      "default": true,
                      "value": "Authorized",
                      "validityDuration": "Always",
                      "fromValue": "string",
                      "toValue": "string",
                      "rangeInterval": "string"
                    }
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/partyPrivacyProfileType"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "href": "example.com",
                "id": "string",
                "version": "string",
                "lastUpdate": "2019-10-30T17:19:46.353Z",
                "name": "string",
                "description": "string",
                "lifecycleStatus": "string",
                "validFor": {
                  "startDateTime": "2019-10-30T17:19:46.353Z",
                  "endDateTime": "2019-10-30T17:19:46.353Z"
                },
                "applicableRole": [
                  {
                    "role": "string"
                  }
                ],
                "relatedParty": [
                  {
                    "id": "string",
                    "href": "string",
                    "role": "string"
                  }
                ],
                "partyPrivacyProfileTypeCharacteristic": [
                  {
                    "id": "string",
                    "name": "string",
                    "description": "string",
                    "privacyType": "string",
                    "criticityLevel": "string",
                    "validFor": {
                      "startDateTime": "2019-10-30T17:19:46.353Z",
                      "endDateTime": "2019-10-30T17:19:46.353Z"
                    },
                    "relatedRole": [
                      {
                        "role": "string"
                      }
                    ],
                    "partyPrivacyProfileTypeCharValue": [
                      {
                        "valueType": "string",
                        "default": true,
                        "value": "string",
                        "validityDuration": "string",
                        "fromValue": "string",
                        "toValue": "string",
                        "rangeInterval": "string"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "TMF_PRIVACY_MANAGEMENT_ALL",
              "TMF644_PRIVACY_MANAGEMENT_ALL"
            ]
          }
        ]
      }
    },
    "/partyPrivacyProfileType/{partyPrivacyProfileTypeId}": {
      "get": {
        "tags": [
          "partyPrivacyProfileType"
        ],
        "operationId": "partyPrivacyProfileTypefindById",
        "summary": "findById",
        "description": "Operation to retrieve privacy profile types in a privacy repository",
        "deprecated": false,
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "partyPrivacyProfileTypeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the party privacy profile type to be retrieved",
            "x-example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/partyPrivacyProfileType"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "href": "example.com",
                "id": "string",
                "version": "string",
                "lastUpdate": "2019-10-30T17:16:05.034Z",
                "name": "string",
                "description": "string",
                "lifecycleStatus": "string",
                "validFor": {
                  "startDateTime": "2019-10-30T17:16:05.034Z",
                  "endDateTime": "2019-10-30T17:16:05.034Z"
                },
                "applicableRole": [
                  {
                    "role": "string"
                  }
                ],
                "relatedParty": [
                  {
                    "id": "string",
                    "href": "string",
                    "role": "string"
                  }
                ],
                "partyPrivacyProfileTypeCharacteristic": [
                  {
                    "id": "string",
                    "name": "string",
                    "description": "string",
                    "privacyType": "string",
                    "criticityLevel": "string",
                    "validFor": {
                      "startDateTime": "2019-10-30T17:16:05.034Z",
                      "endDateTime": "2019-10-30T17:16:05.034Z"
                    },
                    "relatedRole": [
                      {
                        "role": "string"
                      }
                    ],
                    "partyPrivacyProfileTypeCharValue": [
                      {
                        "valueType": "string",
                        "default": true,
                        "value": "string",
                        "validityDuration": "string",
                        "fromValue": "string",
                        "toValue": "string",
                        "rangeInterval": "string"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "TMF_PRIVACY_MANAGEMENT_ALL",
              "TMF644_PRIVACY_MANAGEMENT_ALL"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "partyPrivacyProfileType"
        ],
        "operationId": "partyPrivacyProfileTypePatch",
        "summary": "patch",
        "description": "This Uniform Contract operation is used to partially update the representation of a privacy profile type.",
        "deprecated": false,
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Content-Type",
            "description": "Type of data sent in the request.",
            "in": "header",
            "type": "string",
            "required": false,
            "x-example": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "partyPrivacyProfileTypeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the party privacy profile type to be patched",
            "x-example": 123
          },
          {
            "name": "partyPrivacyProfileType",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/partyPrivacyProfileType"
            },
            "description": "Object representation of the party privacy profile type patch",
            "x-example": {
              "application/json": {
                "href": "example.com",
                "id": "string",
                "version": "string",
                "lastUpdate": "2019-10-30T17:08:28.406Z",
                "name": "string",
                "description": "string",
                "lifecycleStatus": "string",
                "validFor": {
                  "startDateTime": "2019-10-30T17:08:28.406Z",
                  "endDateTime": "2019-10-30T17:08:28.406Z"
                },
                "applicableRole": [
                  {
                    "role": "string"
                  }
                ],
                "relatedParty": [
                  {
                    "id": "string",
                    "href": "string",
                    "role": "string"
                  }
                ],
                "partyPrivacyProfileTypeCharacteristic": [
                  {
                    "id": "string",
                    "name": "string",
                    "description": "string",
                    "privacyType": "string",
                    "criticityLevel": "string",
                    "validFor": {
                      "startDateTime": "2019-10-30T17:08:28.406Z",
                      "endDateTime": "2019-10-30T17:08:28.406Z"
                    },
                    "relatedRole": [
                      {
                        "role": "string"
                      }
                    ],
                    "partyPrivacyProfileTypeCharValue": [
                      {
                        "valueType": "string",
                        "default": true,
                        "value": "string",
                        "validityDuration": "string",
                        "fromValue": "string",
                        "toValue": "string",
                        "rangeInterval": "string"
                      }
                    ]
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/partyPrivacyProfileType"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "href": "example.com",
                "id": "string",
                "version": "string",
                "lastUpdate": "2019-10-30T17:12:58.681Z",
                "name": "string",
                "description": "string",
                "lifecycleStatus": "string",
                "validFor": {
                  "startDateTime": "2019-10-30T17:12:58.681Z",
                  "endDateTime": "2019-10-30T17:12:58.681Z"
                },
                "applicableRole": [
                  {
                    "role": "string"
                  }
                ],
                "relatedParty": [
                  {
                    "id": "string",
                    "href": "string",
                    "role": "string"
                  }
                ],
                "partyPrivacyProfileTypeCharacteristic": [
                  {
                    "id": "string",
                    "name": "string",
                    "description": "string",
                    "privacyType": "string",
                    "criticityLevel": "string",
                    "validFor": {
                      "startDateTime": "2019-10-30T17:12:58.681Z",
                      "endDateTime": "2019-10-30T17:12:58.681Z"
                    },
                    "relatedRole": [
                      {
                        "role": "string"
                      }
                    ],
                    "partyPrivacyProfileTypeCharValue": [
                      {
                        "valueType": "string",
                        "default": true,
                        "value": "string",
                        "validityDuration": "string",
                        "fromValue": "string",
                        "toValue": "string",
                        "rangeInterval": "string"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "TMF_PRIVACY_MANAGEMENT_ALL",
              "TMF644_PRIVACY_MANAGEMENT_ALL"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "partyPrivacyProfileType"
        ],
        "operationId": "partyPrivacyProfileTypeDelete",
        "summary": "delete",
        "description": "Delete a party privacy profile type. Only useful and allowed for administration matters",
        "deprecated": false,
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "partyPrivacyProfileTypeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the party privacy profile type to be deleted",
            "x-example": 12
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "TMF_PRIVACY_MANAGEMENT_ALL",
              "TMF644_PRIVACY_MANAGEMENT_ALL"
            ]
          }
        ]
      }
    },
    "/partyPrivacyAgreement": {
      "post": {
        "tags": [
          "partyPrivacyAgreement"
        ],
        "operationId": "partyPrivacyAgreementCreate",
        "summary": "create",
        "description": "This operation is used to create a privacy agreement.",
        "deprecated": false,
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Content-Type",
            "description": "Type of data sent in the request.",
            "in": "header",
            "type": "string",
            "required": false,
            "x-example": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "partyPrivacyAgreement",
            "description": "The actual content of the party privacy agreement to be created",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/partyPrivacyAgreement"
            },
            "x-example": {
              "application/json": {
                "agreementPeriod": {
                  "startDateTime": "2019-05-08T05:22:18.305Z",
                  "endDateTime": "2019-05-08T05:22:18.305Z"
                },
                "completionDate": "2019-06-20",
                "description": "This agreement",
                "documentNumber": 13,
                "initialDate": "2019-05-08T05:22:18.305Z",
                "name": "Customer mass market privacy agreement",
                "statementOfIntent": "Agreement on customer mass market privacy profile",
                "status": "validated",
                "type": "commercial",
                "version": "1",
                "agreementSpecification": {
                  "href": "http://serverlocation:port/privacyManagement/partyPrivacyAgreementSpecification/8139",
                  "id": "8139",
                  "description": "This agreement specification defines the rules of privacy to be followed by each party",
                  "name": "General Agreement Specification"
                },
                "agreementItem": [
                  {
                    "productOffering": [
                      {
                        "href": "http://serverlocation:port/productOffering/9559",
                        "id": "9559",
                        "description": "string",
                        "name": "Privacy service",
                        "partyId": "string",
                        "partyName": "string",
                        "bundledProductOffering": [
                          {
                            "href": "http://serverlocation:port/productOffering/bundledProductOffering/7120",
                            "id": "7120",
                            "name": "Magic Offer",
                            "bundledProductOffering": []
                          }
                        ]
                      }
                    ],
                    "termOrCondition": [
                      {
                        "description": "This agreement terms or condition",
                        "id": "8905",
                        "validFor": {
                          "startDateTime": "2019-05-08T05:22:18.305Z",
                          "endDateTime": "2019-05-08T05:22:18.305Z"
                        }
                      }
                    ]
                  }
                ],
                "engagedPartyRole": [
                  {
                    "href": "http://serverlocation:port/partyManagement/partyRole/1",
                    "id": "1",
                    "name": "Customer",
                    "partyId": "2345",
                    "partyName": "John Doe"
                  }
                ],
                "agreementAuthorization": [
                  {
                    "date": "2019-05-08T05:22:18.306Z",
                    "signatureRepresentation": "Digital",
                    "state": "approved"
                  }
                ],
                "characteristic": [
                  {
                    "name": "country",
                    "value": "France"
                  }
                ],
                "associatedAgreement": [
                  {
                    "id": "987654",
                    "href": "http://serverlocation:port/privacyManagement/partyPrivacyAgreement/987654",
                    "name": "General Privacy Agreement"
                  }
                ],
                "partyPrivacyProfile": [
                  {
                    "id": "394",
                    "href": "http://serverlocation:port/privacyManagement/partyPrivacyProfile/394",
                    "name": "privacy profile1"
                  }
                ],
                "partyPrivacyProfileCharValue": [
                  {
                    "privacyUsagePurpose": "MARKETING",
                    "name": "eMailAddress",
                    "value": "Authorized",
                    "validFor": {
                      "startDateTime": "2019-05-08T05:22:18.306Z",
                      "endDateTime": "2019-05-08T05:22:18.306Z"
                    },
                    "relatedParty": [
                      {
                        "id": "11",
                        "href": "http://serverlocation:port/partyManagement/partyRole/11",
                        "role": "Vendor",
                        "name": "Alice"
                      }
                    ]
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/partyPrivacyAgreement"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "agreementPeriod": {
                  "startDateTime": "2019-05-08T05:22:18.305Z",
                  "endDateTime": "2019-05-08T05:22:18.305Z"
                },
                "completionDate": "2019-06-20",
                "description": "This agreement",
                "documentNumber": 13,
                "href": "http://serverlocation:port/privacyManagement/partyPrivacyAgreement/6810",
                "id": "6810",
                "initialDate": "2019-05-08T05:22:18.305Z",
                "name": "Customer mass market privacy agreement",
                "statementOfIntent": "Agreement on customer mass market privacy profile",
                "status": "validated",
                "type": "commercial",
                "version": "1",
                "agreementSpecification": {
                  "href": "http://serverlocation:port/privacyManagement/partyPrivacyAgreementSpecification/8139",
                  "id": "8139",
                  "description": "This agreement specification defines the rules of privacy to be followed by each party",
                  "name": "General Agreement Specification"
                },
                "agreementItem": [
                  {
                    "productOffering": [
                      {
                        "href": "http://serverlocation:port/productOffering/9559",
                        "id": "9559",
                        "description": "string",
                        "name": "Privacy service",
                        "partyId": "string",
                        "partyName": "string",
                        "bundledProductOffering": [
                          {
                            "href": "http://serverlocation:port/productOffering/bundledProductOffering/7120",
                            "id": "7120",
                            "name": "Magic Offer",
                            "bundledProductOffering": []
                          }
                        ]
                      }
                    ],
                    "termOrCondition": [
                      {
                        "description": "This agreement terms or condition",
                        "id": "8905",
                        "validFor": {
                          "startDateTime": "2019-05-08T05:22:18.305Z",
                          "endDateTime": "2019-05-08T05:22:18.305Z"
                        }
                      }
                    ]
                  }
                ],
                "engagedPartyRole": [
                  {
                    "href": "http://serverlocation:port/partyManagement/partyRole/1",
                    "id": "1",
                    "name": "Customer",
                    "partyId": "2345",
                    "partyName": "John Doe"
                  }
                ],
                "agreementAuthorization": [
                  {
                    "date": "2019-05-08T05:22:18.306Z",
                    "signatureRepresentation": "Digital",
                    "state": "approved"
                  }
                ],
                "characteristic": [
                  {
                    "name": "country",
                    "value": "France"
                  }
                ],
                "associatedAgreement": [
                  {
                    "id": "987654",
                    "href": "http://serverlocation:port/privacyManagement/partyPrivacyAgreement/987654",
                    "name": "General Privacy Agreement"
                  }
                ],
                "partyPrivacyProfile": [
                  {
                    "id": "394",
                    "href": "http://serverlocation:port/privacyManagement/partyPrivacyProfile/394",
                    "name": "privacy profile1"
                  }
                ],
                "partyPrivacyProfileCharValue": [
                  {
                    "privacyUsagePurpose": "MARKETING",
                    "name": "eMailAddress",
                    "value": "Authorized",
                    "validFor": {
                      "startDateTime": "2019-05-08T05:22:18.306Z",
                      "endDateTime": "2019-05-08T05:22:18.306Z"
                    },
                    "relatedParty": [
                      {
                        "id": "11",
                        "href": "http://serverlocation:port/partyManagement/partyRole/11",
                        "role": "Vendor",
                        "name": "Alice"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "TMF_PRIVACY_MANAGEMENT_ALL",
              "TMF644_PRIVACY_MANAGEMENT_ALL"
            ]
          }
        ]
      }
    },
    "/partyPrivacyAgreement/{partyPrivacyAgreementId}": {
      "get": {
        "tags": [
          "partyPrivacyAgreement"
        ],
        "operationId": "partyPrivacyAgreementfindById",
        "summary": "findById",
        "description": "This operation returns a party privacy agreement by ID",
        "deprecated": false,
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "partyPrivacyAgreementId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the party privacy agreement to be returned",
            "x-example": "12"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/partyPrivacyAgreement"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "agreementPeriod": {
                  "startDateTime": "2019-05-08T05:22:18.305Z",
                  "endDateTime": "2019-05-08T05:22:18.305Z"
                },
                "completionDate": "2019-06-20",
                "description": "This agreement",
                "documentNumber": 13,
                "href": "http://serverlocation:port/privacyManagement/partyPrivacyAgreement/6810",
                "id": "6810",
                "initialDate": "2019-05-08T05:22:18.305Z",
                "name": "Customer mass market privacy agreement",
                "statementOfIntent": "Agreement on customer mass market privacy profile",
                "status": "validated",
                "type": "commercial",
                "version": "1",
                "agreementSpecification": {
                  "href": "http://serverlocation:port/privacyManagement/partyPrivacyAgreementSpecification/8139",
                  "id": "8139",
                  "description": "This agreement specification defines the rules of privacy to be followed by each party",
                  "name": "General Agreement Specification"
                },
                "agreementItem": [
                  {
                    "productOffering": [
                      {
                        "href": "http://serverlocation:port/productOffering/9559",
                        "id": "9559",
                        "description": "string",
                        "name": "Privacy service",
                        "partyId": "string",
                        "partyName": "string",
                        "bundledProductOffering": [
                          {
                            "href": "http://serverlocation:port/productOffering/bundledProductOffering/7120",
                            "id": "7120",
                            "name": "Magic Offer",
                            "bundledProductOffering": []
                          }
                        ]
                      }
                    ],
                    "termOrCondition": [
                      {
                        "description": "This agreement terms or condition",
                        "id": "8905",
                        "validFor": {
                          "startDateTime": "2019-05-08T05:22:18.305Z",
                          "endDateTime": "2019-05-08T05:22:18.305Z"
                        }
                      }
                    ]
                  }
                ],
                "engagedPartyRole": [
                  {
                    "href": "http://serverlocation:port/partyManagement/partyRole/1",
                    "id": "1",
                    "name": "Customer",
                    "partyId": "2345",
                    "partyName": "John Doe"
                  }
                ],
                "agreementAuthorization": [
                  {
                    "date": "2019-05-08T05:22:18.306Z",
                    "signatureRepresentation": "Digital",
                    "state": "approved"
                  }
                ],
                "characteristic": [
                  {
                    "name": "country",
                    "value": "France"
                  }
                ],
                "associatedAgreement": [
                  {
                    "id": "987654",
                    "href": "http://serverlocation:port/privacyManagement/partyPrivacyAgreement/987654",
                    "name": "General Privacy Agreement"
                  }
                ],
                "partyPrivacyProfile": [
                  {
                    "id": "394",
                    "href": "http://serverlocation:port/privacyManagement/partyPrivacyProfile/394",
                    "name": "privacy profile1"
                  }
                ],
                "partyPrivacyProfileCharValue": [
                  {
                    "privacyUsagePurpose": "MARKETING",
                    "name": "eMailAddress",
                    "value": "Authorized",
                    "validFor": {
                      "startDateTime": "2019-05-08T05:22:18.306Z",
                      "endDateTime": "2019-05-08T05:22:18.306Z"
                    },
                    "relatedParty": [
                      {
                        "id": "11",
                        "href": "http://serverlocation:port/partyManagement/partyRole/11",
                        "role": "Vendor",
                        "name": "Alice"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "TMF_PRIVACY_MANAGEMENT_ALL",
              "TMF644_PRIVACY_MANAGEMENT_ALL"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "partyPrivacyAgreement"
        ],
        "operationId": "partyPrivacyAgreementPatch",
        "summary": "patch",
        "description": "This Uniform Contract operation is used to partially update the representation of a privacy agreement.",
        "deprecated": false,
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Content-Type",
            "description": "Type of data sent in the request.",
            "in": "header",
            "type": "string",
            "required": false,
            "x-example": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "partyPrivacyAgreementId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "This Uniform Contract operation is used to partially update the representation of a privacy agreement.",
            "x-example": 12
          },
          {
            "name": "partyPrivacyAgreement",
            "in": "body",
            "required": true,
            "description": "Actual changes to the party privacy agreement",
            "schema": {
              "$ref": "#/definitions/partyPrivacyAgreement"
            },
            "x-example": {
              "description": "Updated agreement",
              "documentNumber": 14,
              "name": "Customer mass market privacy agreement"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/partyPrivacyAgreement"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "agreementPeriod": {
                  "startDateTime": "2019-05-08T05:22:18.305Z",
                  "endDateTime": "2019-05-08T05:22:18.305Z"
                },
                "completionDate": "2019-06-20",
                "description": "updated agreement",
                "documentNumber": 14,
                "href": "http://serverlocation:port/privacyManagement/partyPrivacyAgreement/6810",
                "id": "6810",
                "initialDate": "2019-05-08T05:22:18.305Z",
                "name": "Customer mass market privacy agreement",
                "statementOfIntent": "Agreement on customer mass market privacy profile",
                "status": "validated",
                "type": "commercial",
                "version": "1",
                "agreementSpecification": {
                  "href": "http://serverlocation:port/privacyManagement/partyPrivacyAgreementSpecification/8139",
                  "id": "8139",
                  "description": "This agreement specification defines the rules of privacy to be followed by each party",
                  "name": "General Agreement Specification"
                },
                "agreementItem": [
                  {
                    "productOffering": [
                      {
                        "href": "http://serverlocation:port/productOffering/9559",
                        "id": "9559",
                        "description": "string",
                        "name": "Privacy service",
                        "partyId": "string",
                        "partyName": "string",
                        "bundledProductOffering": [
                          {
                            "href": "http://serverlocation:port/productOffering/bundledProductOffering/7120",
                            "id": "7120",
                            "name": "Magic Offer",
                            "bundledProductOffering": []
                          }
                        ]
                      }
                    ],
                    "termOrCondition": [
                      {
                        "description": "This agreement terms or condition",
                        "id": "8905",
                        "validFor": {
                          "startDateTime": "2019-05-08T05:22:18.305Z",
                          "endDateTime": "2019-05-08T05:22:18.305Z"
                        }
                      }
                    ]
                  }
                ],
                "engagedPartyRole": [
                  {
                    "href": "http://serverlocation:port/partyManagement/partyRole/1",
                    "id": "1",
                    "name": "Customer",
                    "partyId": "2345",
                    "partyName": "John Doe"
                  }
                ],
                "agreementAuthorization": [
                  {
                    "date": "2019-05-08T05:22:18.306Z",
                    "signatureRepresentation": "Digital",
                    "state": "approved"
                  }
                ],
                "characteristic": [
                  {
                    "name": "country",
                    "value": "France"
                  }
                ],
                "associatedAgreement": [
                  {
                    "id": "987654",
                    "href": "http://serverlocation:port/privacyManagement/partyPrivacyAgreement/987654",
                    "name": "General Privacy Agreement"
                  }
                ],
                "partyPrivacyProfile": [
                  {
                    "id": "394",
                    "href": "http://serverlocation:port/privacyManagement/partyPrivacyProfile/394",
                    "name": "privacy profile1"
                  }
                ],
                "partyPrivacyProfileCharValue": [
                  {
                    "privacyUsagePurpose": "MARKETING",
                    "name": "eMailAddress",
                    "value": "Authorized",
                    "validFor": {
                      "startDateTime": "2019-05-08T05:22:18.306Z",
                      "endDateTime": "2019-05-08T05:22:18.306Z"
                    },
                    "relatedParty": [
                      {
                        "id": "11",
                        "href": "http://serverlocation:port/partyManagement/partyRole/11",
                        "role": "Vendor",
                        "name": "Alice"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "TMF_PRIVACY_MANAGEMENT_ALL",
              "TMF644_PRIVACY_MANAGEMENT_ALL"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "partyPrivacyAgreement"
        ],
[...]
