{
  "swagger": "2.0",
  "info": {
    "title": "TMF651 Agreement Management",
    "description": "The Agreement API provides standardized mechanism for managing agreements, especially in the context on partnerships between partners. The API allows creation, update and query of agreement instances as well as creation, update and query of agreement specifications – serving as templates for agreement instances.",
    "version": "2.0",
    "x-api-proxy-version": 1
  },
  "host": "api.developer.com",
  "basePath": "/tmf-api/agreementManagement/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "apix_oauth": {
      "type": "oauth2",
      "tokenUrl": "https://api.developer.com/v1/apixoauth2password/oauth2/token",
      "flow": "application",
      "scopes": {
        "AGREEMENT_MANAGEMENT_ALL": "API Consumer is allowed to consume all the operations.",
        "AGREEMENT_MANAGEMENT_AGREEMENT_GET": "API Consumer is allowed to consume the GET agreement operation.",
        "AGREEMENT_MANAGEMENT_AGREEMENT_POST": "API Consumer is allowed to consume the POST agreement operation.",
        "AGREEMENT_MANAGEMENT_AGREEMENT_PATCH": "API Consumer is allowed to consume the PATCH agreement operation.",
        "AGREEMENT_MANAGEMENT_AGREEMENT_DELETE": "API Consumer is allowed to consume the DELETE agreement operation.",
        "AGREEMENT_MANAGEMENT_AGREEMENT_SPECIFICATION_GET": "API Consumer is allowed to consume the GET agreementSpecification operation.",
        "AGREEMENT_MANAGEMENT_AGREEMENT_SPECIFICATION_POST": "API Consumer is allowed to consume the POST agreementSpecification operation.",
        "AGREEMENT_MANAGEMENT_AGREEMENT_SPECIFICATION_PATCH": "API Consumer is allowed to consume the PATCH agreementspecification operation.",
        "AGREEMENT_MANAGEMENT_AGREEMENT_SPECIFICATION_DELETE": "API Consumer is allowed to consume the DELETE agreementSpecification operation.",
        "AGREEMENT_MANAGEMENT_HUB_POST": "API Consumer is allowed to consume the POST hub operation.",
        "AGREEMENT_MANAGEMENT_HUB_ID_DELETE": "API Consumer is allowed to consume the DELETE hub by ID operation."
      }
    }
  },
  "paths": {
    "/agreement": {
      "get": {
        "operationId": "listAgreement",
        "summary": "List or find 'Agreement' objects",
        "description": "List or find 'Agreement' objects",
        "tags": [
          "agreement"
        ],
        "parameters": [
          {
            "type": "string",
            "required": false,
            "in": "query",
            "name": "fields",
            "description": "Comma separated properties to display in response",
            "x-example": "documentNumber"
          },
          {
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "offset",
            "description": "Requested index for start of resources to be provided in response",
            "x-example": 10
          },
          {
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "limit",
            "description": "Requested number of resources to be provided in response",
            "x-example": 10
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "items": {
                "$ref": "#/definitions/Agreement"
              },
              "type": "array"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "examples": {
              "application/json": [
                {
                  "agreementPeriod": {
                    "endDateTime": "2018-06-08T00:00",
                    "startDateTime": "2019-01-07T00:00"
                  },
                  "completionDate": {
                    "endDateTime": "2016-10-16",
                    "startDateTime": "2016-10-16"
                  },
                  "description": "This is a test agreement",
                  "documentNumber": 12,
                  "href": "https://host:port/tmf-api/agreementManagement/v2/agreement/3582",
                  "id": "3582",
                  "initialDate": "2014-12-06",
                  "name": "Summer Contract Agreement",
                  "statementOfIntent": "Agreement on restricting the working hours",
                  "status": "process",
                  "type": "commercial",
                  "version": "1,5",
                  "agreementSpecification": {
                    "description": "This agreement specification defines the environment protection rules to be followed by each party.",
                    "href": "https://host:port/tmf-api/agreementManagement/v2/agreementSpecification/2186",
                    "id": "2186",
                    "name": "Purchase Agreement Specification",
                    "@referredType": "a string..."
                  },
                  "agreementItem": [
                    {
                      "productOffering": [
                        {
                          "href": "https://host:port/tmf-api/productCatalogManagement/v2/productOffering/1308",
                          "id": "1308",
                          "name": "My Quick BB Offer",
                          "@referredType": "a string..."
                        }
                      ]
                    },
                    {
                      "termOrCondition": {
                        "description": "This agreement term or condition...",
                        "id": "7482",
                        "validFor": {
                          "endDateTime": "2019-01-07T00:00",
                          "startDateTime": "2018-06-07T00:00"
                        },
                        "@type": "a string..."
                      },
                      "@type": "a string..."
                    }
                  ],
                  "engagedPartyRole": [
                    {
                      "href": "https://host:port/tmf-api/partyRole/v2/partyRole/5057",
                      "id": "5057",
                      "name": "Supplier",
                      "partyId": "786",
                      "partyName": "Zero Bug LTD",
                      "@referredType": "a string..."
                    }
                  ],
                  "agreementAuthorization": [
                    {
                      "date": "2018-06-11T00:00",
                      "signatureRepresentation": "Dr Mabuse",
                      "state": "rejected",
                      "@type": "a string..."
                    }
                  ],
                  "characteristic": [
                    {
                      "name": "country",
                      "value": "France",
                      "@type": "a string...",
                      "@schemaLocation": "a string..."
                    },
                    {
                      "name": "confidentialLevel",
                      "value": "low",
                      "@type": "a string...",
                      "@schemaLocation": "a string..."
                    }
                  ],
                  "associatedAgreement": [
                    {
                      "href": "https://host:port/tmf-api/agreementManagement/v2/agreement/3670",
                      "id": "string",
                      "name": "General Partnership Agreement",
                      "@referredType": "string"
                    }
                  ],
                  "@type": "string",
                  "@schemaLocation": "string",
                  "@baseType": "string"
                }
              ]
            }
          },
          "400": {
            "description": "Request Error",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method not Allowed",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "The server encountered an unexpected condition which prevented it from fulfilling the request",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "AGREEMENT_MANAGEMENT_ALL",
              "AGREEMENT_MANAGEMENT_AGREEMENT_GET"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createAgreement",
        "summary": "Creates a 'Agreement'",
        "description": "Creates a 'Agreement'",
        "tags": [
          "agreement"
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/definitions/Agreement_Create"
            },
            "required": true,
            "in": "body",
            "name": "agreement",
            "description": "The Agreement to be created",
            "x-example": {
              "application/json": {
                "agreementPeriod": {
                  "endDateTime": "2018-06-08T00:00",
                  "startDateTime": "2019-01-07T00:00"
                },
                "completionDate": {
                  "endDateTime": "2016-10-16",
                  "startDateTime": "2016-10-16"
                },
                "description": "This is a test agreement",
                "documentNumber": 12,
                "initialDate": "2014-12-06",
                "name": "Summer Contract Agreement",
                "statementOfIntent": "Agreement on restricting the working hours",
                "status": "process",
                "type": "commercial",
                "version": "1,5",
                "agreementSpecification": {
                  "description": "This agreement specification defines the environment protection rules to be followed by each party.",
                  "href": "https://host:port/tmf-api/agreementManagement/v2/agreementSpecification/2186",
                  "id": "2186",
                  "name": "Purchase Agreement Specification",
                  "@referredType": "a string..."
                },
                "agreementItem": [
                  {
                    "productOffering": [
                      {
                        "href": "https://host:port/tmf-api/productCatalogManagement/v2/productOffering/1308",
                        "id": "1308",
                        "name": "My Quick BB Offer",
                        "@referredType": "a string..."
                      }
                    ]
                  },
                  {
                    "termOrCondition": {
                      "description": "This agreement term or condition...",
                      "id": "7482",
                      "validFor": {
                        "endDateTime": "2019-01-07T00:00",
                        "startDateTime": "2018-06-07T00:00"
                      },
                      "@type": "a string..."
                    },
                    "@type": "a string..."
                  }
                ],
                "engagedPartyRole": [
                  {
                    "href": "https://host:port/tmf-api/partyRole/v2/partyRole/5057",
                    "id": "5057",
                    "name": "Supplier",
                    "partyId": "786",
                    "partyName": "Zero Bug LTD",
                    "@referredType": "a string..."
                  }
                ],
                "agreementAuthorization": [
                  {
                    "date": "2018-06-11T00:00",
                    "signatureRepresentation": "Dr Mabuse",
                    "state": "rejected",
                    "@type": "a string..."
                  }
                ],
                "characteristic": [
                  {
                    "name": "country",
                    "value": "France",
                    "@type": "a string...",
                    "@schemaLocation": "a string..."
                  },
                  {
                    "name": "confidentialLevel",
                    "value": "low",
                    "@type": "a string...",
                    "@schemaLocation": "a string..."
                  }
                ],
                "associatedAgreement": [
                  {
                    "href": "https://host:port/tmf-api/agreementManagement/v2/agreement/3670",
                    "id": "string",
                    "name": "General Partnership Agreement",
                    "@referredType": "string"
                  }
                ],
                "@type": "string",
                "@schemaLocation": "string",
                "@baseType": "string"
              }
            }
          },
          {
            "name": "Content-Type",
            "description": "Type of data sent in the request.",
            "in": "header",
            "type": "string",
            "required": true,
            "x-example": "application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Agreement"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "agreementPeriod": {
                  "endDateTime": "2018-06-08T00:00",
                  "startDateTime": "2019-01-07T00:00"
                },
                "completionDate": {
                  "endDateTime": "2016-10-16",
                  "startDateTime": "2016-10-16"
                },
                "description": "This is a test agreement",
                "documentNumber": 12,
                "href": "https://host:port/tmf-api/agreementManagement/v2/agreement/3582",
                "id": "3582",
                "initialDate": "2014-12-06",
                "name": "Summer Contract Agreement",
                "statementOfIntent": "Agreement on restricting the working hours",
                "status": "process",
                "type": "commercial",
                "version": "1,5",
                "agreementSpecification": {
                  "description": "This agreement specification defines the environment protection rules to be followed by each party.",
                  "href": "https://host:port/tmf-api/agreementManagement/v2/agreementSpecification/2186",
                  "id": "2186",
                  "name": "Purchase Agreement Specification",
                  "@referredType": "a string..."
                },
                "agreementItem": [
                  {
                    "productOffering": [
                      {
                        "href": "https://host:port/tmf-api/productCatalogManagement/v2/productOffering/1308",
                        "id": "1308",
                        "name": "My Quick BB Offer",
                        "@referredType": "a string..."
                      }
                    ]
                  },
                  {
                    "termOrCondition": {
                      "description": "This agreement term or condition...",
                      "id": "7482",
                      "validFor": {
                        "endDateTime": "2019-01-07T00:00",
                        "startDateTime": "2018-06-07T00:00"
                      },
                      "@type": "a string..."
                    },
                    "@type": "a string..."
                  }
                ],
                "engagedPartyRole": [
                  {
                    "href": "https://host:port/tmf-api/partyRole/v2/partyRole/5057",
                    "id": "5057",
                    "name": "Supplier",
                    "partyId": "786",
                    "partyName": "Zero Bug LTD",
                    "@referredType": "a string..."
                  }
                ],
                "agreementAuthorization": [
                  {
                    "date": "2018-06-11T00:00",
                    "signatureRepresentation": "Dr Mabuse",
                    "state": "rejected",
                    "@type": "a string..."
                  }
                ],
                "characteristic": [
                  {
                    "name": "country",
                    "value": "France",
                    "@type": "a string...",
                    "@schemaLocation": "a string..."
                  },
                  {
                    "name": "confidentialLevel",
                    "value": "low",
                    "@type": "a string...",
                    "@schemaLocation": "a string..."
                  }
                ],
                "associatedAgreement": [
                  {
                    "href": "https://host:port/tmf-api/agreementManagement/v2/agreement/3670",
                    "id": "string",
                    "name": "General Partnership Agreement",
                    "@referredType": "string"
                  }
                ],
                "@type": "string",
                "@schemaLocation": "string",
                "@baseType": "string"
              }
            }
          },
          "400": {
            "description": "Request Error",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method not Allowed",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "The server encountered an unexpected condition which prevented it from fulfilling the request",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "AGREEMENT_MANAGEMENT_ALL",
              "AGREEMENT_MANAGEMENT_AGREEMENT_POST"
            ]
          }
        ]
      }
    },
    "/agreement/{id}": {
      "get": {
        "operationId": "retrieveAgreement",
        "summary": "Retrieves a 'Agreement' by Id",
        "description": "Retrieves a 'Agreement' by Id",
        "tags": [
          "agreement"
        ],
        "parameters": [
          {
            "required": true,
            "type": "string",
            "name": "id",
            "in": "path",
            "description": "Identifier of the Agreement",
            "x-example": 3582
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "items": {
                "$ref": "#/definitions/Agreement"
              },
              "type": "array"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "agreementPeriod": {
                  "endDateTime": "2018-06-08T00:00",
                  "startDateTime": "2019-01-07T00:00"
                },
                "completionDate": {
                  "endDateTime": "2016-10-16",
                  "startDateTime": "2016-10-16"
                },
                "description": "This is a test agreement",
                "documentNumber": 12,
                "href": "https://host:port/tmf-api/agreementManagement/v2/agreement/3582",
                "id": "3582",
                "initialDate": "2014-12-06",
                "name": "Summer Contract Agreement",
                "statementOfIntent": "Agreement on restricting the working hours",
                "status": "process",
                "type": "commercial",
                "version": "1,5",
                "agreementSpecification": {
                  "description": "This agreement specification defines the environment protection rules to be followed by each party.",
                  "href": "https://host:port/tmf-api/agreementManagement/v2/agreementSpecification/2186",
                  "id": "2186",
                  "name": "Purchase Agreement Specification",
                  "@referredType": "a string..."
                },
                "agreementItem": [
                  {
                    "productOffering": [
                      {
                        "href": "https://host:port/tmf-api/productCatalogManagement/v2/productOffering/1308",
                        "id": "1308",
                        "name": "My Quick BB Offer",
                        "@referredType": "a string..."
                      }
                    ]
                  },
                  {
                    "termOrCondition": {
                      "description": "This agreement term or condition...",
                      "id": "7482",
                      "validFor": {
                        "endDateTime": "2019-01-07T00:00",
                        "startDateTime": "2018-06-07T00:00"
                      },
                      "@type": "a string..."
                    },
                    "@type": "a string..."
                  }
                ],
                "engagedPartyRole": [
                  {
                    "href": "https://host:port/tmf-api/partyRole/v2/partyRole/5057",
                    "id": "5057",
                    "name": "Supplier",
                    "partyId": "786",
                    "partyName": "Zero Bug LTD",
                    "@referredType": "a string..."
                  }
                ],
                "agreementAuthorization": [
                  {
                    "date": "2018-06-11T00:00",
                    "signatureRepresentation": "Dr Mabuse",
                    "state": "rejected",
                    "@type": "a string..."
                  }
                ],
                "characteristic": [
                  {
                    "name": "country",
                    "value": "France",
                    "@type": "a string...",
                    "@schemaLocation": "a string..."
                  },
                  {
                    "name": "confidentialLevel",
                    "value": "low",
                    "@type": "a string...",
                    "@schemaLocation": "a string..."
                  }
                ],
                "associatedAgreement": [
                  {
                    "href": "https://host:port/tmf-api/agreementManagement/v2/agreement/3670",
                    "id": "string",
                    "name": "General Partnership Agreement",
                    "@referredType": "string"
                  }
                ],
                "@type": "string",
                "@schemaLocation": "string",
                "@baseType": "string"
              }
            }
          },
          "400": {
            "description": "Request Error",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method not Allowed",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "The server encountered an unexpected condition which prevented it from fulfilling the request",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "AGREEMENT_MANAGEMENT_ALL",
              "AGREEMENT_MANAGEMENT_AGREEMENT_GET"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "patchAgreement",
        "summary": "Updates partially a 'Agreement' by Id",
        "description": "Updates partially a 'Agreement' by Id",
        "tags": [
          "agreement"
        ],
        "parameters": [
          {
            "required": true,
            "type": "string",
            "name": "id",
            "in": "path",
            "description": "Identifier of the Agreement",
            "x-example": 3582
          },
          {
            "schema": {
              "$ref": "#/definitions/Agreement_Update"
            },
            "required": true,
            "in": "body",
            "name": "agreement",
            "description": "The Agreement to be updated",
            "x-example": {
              "application/json": {
                "agreementPeriod": {
                  "endDateTime": "2018-06-08T00:00",
                  "startDateTime": "2019-01-07T00:00"
                },
                "description": "This is a test agreement",
                "documentNumber": 12,
                "initialDate": "2014-12-06",
                "name": "Summer Contract Agreement",
                "statementOfIntent": "Agreement on restricting the working hours",
                "status": "process",
                "type": "commercial",
                "version": "1,5",
                "agreementSpecification": {
                  "description": "This agreement specification defines the environment protection rules to be followed by each party.",
                  "href": "https://host:port/tmf-api/agreementManagement/v2/agreementSpecification/2186",
                  "id": "2186",
                  "name": "Purchase Agreement Specification",
                  "@referredType": "a string..."
                },
                "agreementItem": [
                  {
                    "productOffering": [
                      {
                        "href": "https://host:port/tmf-api/productCatalogManagement/v2/productOffering/1308",
                        "id": "1308",
                        "name": "My Quick BB Offer",
                        "@referredType": "a string..."
                      }
                    ]
                  },
                  {
                    "termOrCondition": {
                      "description": "This agreement term or condition...",
                      "id": "7482",
                      "validFor": {
                        "endDateTime": "2019-01-07T00:00",
                        "startDateTime": "2018-06-07T00:00"
                      },
                      "@type": "a string..."
                    },
                    "@type": "a string..."
                  }
                ],
                "engagedPartyRole": [
                  {
                    "href": "https://host:port/tmf-api/partyRole/v2/partyRole/5057",
                    "id": "5057",
                    "name": "Supplier",
                    "partyId": "786",
                    "partyName": "Zero Bug LTD",
                    "@referredType": "a string..."
                  }
                ],
                "agreementAuthorization": [
                  {
                    "date": "2018-06-11T00:00",
                    "signatureRepresentation": "Dr Mabuse",
                    "state": "rejected",
                    "@type": "a string..."
                  }
                ],
                "characteristic": [
                  {
                    "name": "country",
                    "value": "France",
                    "@type": "a string...",
                    "@schemaLocation": "a string..."
                  },
                  {
                    "name": "confidentialLevel",
                    "value": "low",
                    "@type": "a string...",
                    "@schemaLocation": "a string..."
                  }
                ],
                "associatedAgreement": [
                  {
                    "href": "https://host:port/tmf-api/agreementManagement/v2/agreement/3670",
                    "id": "string",
                    "name": "General Partnership Agreement",
                    "@referredType": "string"
                  }
                ],
                "@type": "string",
                "@schemaLocation": "string",
                "@baseType": "string"
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "Content-Type",
            "description": "Type of data sent in the request.",
            "in": "header",
            "type": "string",
            "required": true,
            "x-example": "either \"application/merge-patch+json\" or \"application/json-patch+json\""
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/Agreement"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "agreementPeriod": {
                  "endDateTime": "2018-06-08T00:00",
                  "startDateTime": "2019-01-07T00:00"
                },
                "completionDate": {
                  "endDateTime": "2016-10-16",
                  "startDateTime": "2016-10-16"
                },
                "description": "This is a test agreement",
                "documentNumber": 12,
                "href": "https://host:port/tmf-api/agreementManagement/v2/agreement/3582",
                "id": "3582",
                "initialDate": "2014-12-06",
                "name": "Summer Contract Agreement",
                "statementOfIntent": "Agreement on restricting the working hours",
                "status": "process",
                "type": "commercial",
                "version": "1,5",
                "agreementSpecification": {
                  "description": "This agreement specification defines the environment protection rules to be followed by each party.",
                  "href": "https://host:port/tmf-api/agreementManagement/v2/agreementSpecification/2186",
                  "id": "2186",
                  "name": "Purchase Agreement Specification",
                  "@referredType": "a string..."
                },
                "agreementItem": [
                  {
                    "productOffering": [
                      {
                        "href": "https://host:port/tmf-api/productCatalogManagement/v2/productOffering/1308",
                        "id": "1308",
                        "name": "My Quick BB Offer",
                        "@referredType": "a string..."
                      }
                    ]
                  },
                  {
                    "termOrCondition": {
                      "description": "This agreement term or condition...",
                      "id": "7482",
                      "validFor": {
                        "endDateTime": "2019-01-07T00:00",
                        "startDateTime": "2018-06-07T00:00"
                      },
                      "@type": "a string..."
                    },
                    "@type": "a string..."
                  }
                ],
                "engagedPartyRole": [
                  {
                    "href": "https://host:port/tmf-api/partyRole/v2/partyRole/5057",
                    "id": "5057",
                    "name": "Supplier",
                    "partyId": "786",
                    "partyName": "Zero Bug LTD",
                    "@referredType": "a string..."
                  }
                ],
                "agreementAuthorization": [
                  {
                    "date": "2018-06-11T00:00",
                    "signatureRepresentation": "Dr Mabuse",
                    "state": "rejected",
                    "@type": "a string..."
                  }
                ],
                "characteristic": [
                  {
                    "name": "country",
                    "value": "France",
                    "@type": "a string...",
                    "@schemaLocation": "a string..."
                  },
                  {
                    "name": "confidentialLevel",
                    "value": "low",
                    "@type": "a string...",
                    "@schemaLocation": "a string..."
                  }
                ],
                "associatedAgreement": [
                  {
                    "href": "https://host:port/tmf-api/agreementManagement/v2/agreement/3670",
                    "id": "string",
                    "name": "General Partnership Agreement",
                    "@referredType": "string"
                  }
                ],
                "@type": "string",
                "@schemaLocation": "string",
                "@baseType": "string"
              }
            }
          },
          "400": {
            "description": "Request Error",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method not Allowed",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "The server encountered an unexpected condition which prevented it from fulfilling the request",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "AGREEMENT_MANAGEMENT_ALL",
              "AGREEMENT_MANAGEMENT_AGREEMENT_PATCH"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteAgreement",
        "summary": "Deletes a 'Agreement' by Id",
        "description": "Deletes a 'Agreement' by Id",
        "tags": [
          "agreement"
        ],
        "parameters": [
          {
            "required": true,
            "type": "string",
            "name": "id",
            "in": "path",
            "description": "Identifier of the Agreement",
            "x-example": 3582
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request Error",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method not Allowed",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "The server encountered an unexpected condition which prevented it from fulfilling the request",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "APIX common errors as described at\n https://.com/tempcps/display/AF/Common+Error+Codes",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\".",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "apix_oauth": [
              "AGREEMENT_MANAGEMENT_ALL",
              "AGREEMENT_MANAGEMENT_AGREEMENT_DELETE"
            ]
          }
        ]
      }
    },
    "/agreementSpecification": {
      "get": {
        "operationId": "listAgreementSpecification",
        "summary": "List or find 'AgreementSpecification' objects",
        "description": "List or find 'AgreementSpecification' objects",
        "tags": [
          "agreementSpecification"
        ],
        "parameters": [
          {
            "type": "string",
            "required": false,
            "in": "query",
            "name": "fields",
            "description": "Comma separated properties to display in response",
            "x-example": "name"
          },
          {
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "offset",
            "description": "Requested index for start of resources to be provided in response",
            "x-example": 10
          },
          {
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "limit",
            "description": "Requested number of resources to be provided in response",
            "x-example": 10
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "* Contains the APIX OAuth token as Bearer token.\n* Enables the developer application access to the request resource.\n* E.g. Authorization:Bearer FhNX09SlBO4G0XRzTPAGustXtsWi",
            "required": true,
            "type": "string",
            "x-example": "Bearer FhNX09SlBO4G0XRzTPAGustXtsWi"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand.",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "* Consumer specified unique transaction identifier.\n * Enables requests from consumers to be captured end to end.\n* If not provided in the request, one is generated by the backend.\n * Format: Case insensitive, RFC 2616.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "items": {
                "$ref": "#/definitions/AgreementSpecification"
              },
              "type": "array"
            },
            "examples": {
              "application/json": [
                {
                  "description": "This agreement specification defines the ethic rules to be followed by each party.",
                  "href": "https://host:port/tmf-api/agreementManagement/v2/agreementSpecification/6500",
                  "id": "6500",
                  "isBundle": false,
                  "lastUpdate": "2018-06-11T00:00",
                  "lifecycleStatus": "string",
                  "name": "Purchase Agreement Specification",
                  "validFor": {
                    "endDateTime": "2018-06-12T00:00",
                    "startDateTime": "2019-01-07T00:00"
                  },
                  "version": "2.1",
                  "serviceCategory": {
                    "href": "https://host:port/tmf-api/productOffering/v2/category/3380",
                    "id": "3380",
                    "name": "Cloud",
                    "@referredType": "a string..."
                  },
                  "specCharacteristic": [
                    {
                      "configurable": false,
                      "description": "This agreement spec characteristic ...",
                      "name": "Screen color",
                      "validFor": {
                        "endDateTime": "2018-06-08T00:00",
                        "startDateTime": "2019-01-07T00:00"
                      },
                      "valueType": "string",
                      "specCharacteristicValue": [
                        {
                          "default": true,
                          "unitOfMeasure": "Hz",
                          "validFor": {
                            "endDateTime": "2018-06-10T00:00",
                            "startDateTime": "2019-01-07T00:00"
                          },
                          "value": "blue",
                          "valueFrom": "",
                          "valueTo": "",
                          "valueType": "string",
                          "@type": "a string..."
                        }
                      ],
                      "@type": "a string...",
                      "@schemaLocation": "a string..."
                    }
                  ],
                  "relatedParty": [
                    {
                      "href": "https://host:port/tmf-api/partyManagement/v2/organization/3472",
                      "id": "3472",
                      "name": "Richard Cole",
                      "role": "customer",
                      "@referredType": "a string..."
                    }
                  ],
                  "attachment": [
                    {
                      "href": "http://hostname:port/documentManagement/attachment/22",
                      "id": "22",
                      "type": "Photo",
                      "url": "http://yyyyy",
                      "@type": "a string..."
                    }
                  ],
                  "specificationRelationship": [
                    {
                      "href": "https://host:port/tmf-api/agreements/v2/agreementSpecificationRelationship/3383",
                      "id": "3383",
                      "type": "dependency",
                      "validFor": {
                        "endDateTime": "2018-06-09T00:00",
                        "startDateTime": "2019-01-07T00:00"
                      },
                      "@type": "string"
                    }
                  ],
                  "@type": "a string...",
                  "@schemaLocation": "a string...",
                  "@baseType": "a string..."
                }
              ]
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request Error",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method not Allowed",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "The server encountered an unexpected condition which prevented it from fulfilling the request",
            "headers": {
[...]
