{
  "swagger": "2.0",
  "info": {
    "title": "TMF666 Account Management",
    "description": "TMF API Reference TMF 666 - Account Management. This is Swagger UI environment generated for the TMF Account Management specification.\n\nThis API is exposed by DXL.The Account API provides a standardized mechanism for the management of billing and settlement accounts, as well as for financial accounting (account receivable) either in B2B or B2B2C contexts. The customer Quote API provides a standardized mechanism for creating a customer quote with all of the necessary quote parameters.\n\nThis service allows creation, update and retrieval of account information. It also allows creation and query of bill items allowing partners or B2B customer to check their invoice.",
   
    "x-api-proxy-version": 1.1,
    "contact": {
      "name": "Developer Portal Administrator",
      "email": "test@test.com"
    }
  },
  "host": "apistagingref.developer.com",
  "basePath": "/tmf-api/accountManagement/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json;charset=utf-8"
  ],
  "produces": [
    "application/json;charset=utf-8"
  ],
  "x-backend-connection-preprod": "https://jsonplaceholder.typicode.com",
  "x-backend-connection-prod": "https://jsonplaceholder.typicode.com",
  "x-backend-connection-basepath": "/tmf-api/accountManagement/v2/",
  "securityDefinitions": {
    "apix_oauth": {
      "type": "oauth2",
      "tokenUrl": "https://api.developer.com/v1/apixoauth2password/oauth2/token",
      "flow": "password",
      "scopes": {
        "ACCOUNT_MANAGEMENT_ALL": "API Consumer is allowed to consume all the resources",
        "ACCOUNT_MANAGEMENT_PARTY_ACCOUNT_GET": "API Consumer is allowed to consume the read operations of PARTY ACCOUNT",
        "ACCOUNT_MANAGEMENT_PARTY_ACCOUNT_POST": "API Consumer is allowed to consume the post operation of PARTY ACCOUNT",
        "ACCOUNT_MANAGEMENT_PARTY_ACCOUNT_PATCH": "API Consumer is allowed to consume the patch operation of PARTY ACCOUNT",
        "ACCOUNT_MANAGEMENT_PARTY_ACCOUNT_DELETE": "API Consumer is allowed to consume the delete operation of PARTY ACCOUNT",
        "ACCOUNT_MANAGEMENT_BILLING_ACCOUNT_GET": "API Consumer is allowed to consume the read operations of BILLING ACCOUNT",
        "ACCOUNT_MANAGEMENT_BILLING_ACCOUNT_POST": "API Consumer is allowed to consume the post operation of BILLING ACCOUNT",
        "ACCOUNT_MANAGEMENT_BILLING_ACCOUNT_PATCH": "API Consumer is allowed to consume the patch operation of BILLING ACCOUNT",
        "ACCOUNT_MANAGEMENT_BILLING_ACCOUNT_DELETE": "API Consumer is allowed to consume the delete operation of BILLING ACCOUNT",
        "ACCOUNT_MANAGEMENT_FINANCIAL_ACCOUNT_GET": "API Consumer is allowed to consume the read operations of FINANCIAL ACCOUNT",
        "ACCOUNT_MANAGEMENT_FINANCIAL_ACCOUNT_POST": "API Consumer is allowed to consume the post operation of FINANCIAL ACCOUNT",
        "ACCOUNT_MANAGEMENT_FINANCIAL_ACCOUNT_PATCH": "API Consumer is allowed to consume the patch operation of FINANCIAL ACCOUNT",
        "ACCOUNT_MANAGEMENT_FINANCIAL_ACCOUNT_DELETE": "API Consumer is allowed to consume the delete operation of FINANCIAL ACCOUNT",
        "ACCOUNT_MANAGEMENT_SETTLEMENT_ACCOUNT_GET": "API Consumer is allowed to consume the read operations of SETTLEMENT ACCOUNT",
        "ACCOUNT_MANAGEMENT_SETTLEMENT_ACCOUNT_POST": "API Consumer is allowed to consume the post operation of SETTLEMENT ACCOUNT",
        "ACCOUNT_MANAGEMENT_SETTLEMENT_ACCOUNT_PATCH": "API Consumer is allowed to consume the patch operation of SETTLEMENT ACCOUNT",
        "ACCOUNT_MANAGEMENT_SETTLEMENT_ACCOUNT_DELETE": "API Consumer is allowed to consume the delete operation of SETTLEMENT ACCOUNT",
        "ACCOUNT_MANAGEMENT_BILLINGCYCLESPECIFICATION_GET": "API Consumer is allowed to consume the read operations of BILLINGCYCLESPECIFICATION",
        "ACCOUNT_MANAGEMENT_BILLINGCYCLESPECIFICATION_POST": "API Consumer is allowed to consume the post operation of BILLINGCYCLESPECIFICATION",
        "ACCOUNT_MANAGEMENT_BILLINGCYCLESPECIFICATION_PATCH": "API Consumer is allowed to consume the patch operation of BILLINGCYCLESPECIFICATION",
        "ACCOUNT_MANAGEMENT_BILLINGCYCLESPECIFICATION_DELETE": "API Consumer is allowed to consume the delete operation of BILLINGCYCLESPECIFICATION",
        "ACCOUNT_MANAGEMENT_BILLFORMAT_GET": "API Consumer is allowed to consume the read operations of BILLFORMAT",
        "ACCOUNT_MANAGEMENT_BILLFORMAT_POST": "API Consumer is allowed to consume the post operation of BILLFORMAT",
        "ACCOUNT_MANAGEMENT_BILLFORMAT_PATCH": "API Consumer is allowed to consume the patch operation of BILLFORMAT",
        "ACCOUNT_MANAGEMENT_BILLFORMAT_DELETE": "API Consumer is allowed to consume the delete operation of BILLFORMAT",
        "ACCOUNT_MANAGEMENT_BILLPRESENTATIONMEDIA_GET": "API Consumer is allowed to consume the read operations of BILLPRESENTATIONMEDIA",
        "ACCOUNT_MANAGEMENT_BILLPRESENTATIONMEDIA_POST": "API Consumer is allowed to consume the post operation of BILLPRESENTATIONMEDIA",
        "ACCOUNT_MANAGEMENT_BILLPRESENTATIONMEDIA_PATCH": "API Consumer is allowed to consume the patch operation of BILLPRESENTATIONMEDIA",
        "ACCOUNT_MANAGEMENT_BILLPRESENTATIONMEDIA_DELETE": "API Consumer is allowed to consume the delete operation of BILLPRESENTATIONMEDIA",
        "ACCOUNT_MANAGEMENT_HUB_POST": "API Consumer is allowed to consume the post operation of HUB",
        "ACCOUNT_MANAGEMENT_HUB_DELETE": "API Consumer is allowed to consume the delete operation of HUB",
        "TMF666_ACCOUNT_MANAGEMENT_ALL": "API Consumer is allowed to consume all resources in this API"
      }
    }
  },
  "tags": [
    {
      "name": "partyAccount",
      "description": "Accounts typically refer to parties and party roles. The management of party and party roles can be done using the TMF APIs Party Management, Customer Management and Party Role Management API."
    }
  ],
  "paths": {
    "/partyAccount": {
      "get": {
        "operationId": "listPartyAccount",
        "summary": "List or find 'PartyAccount' objects",
        "description": "This operation list party account entities. Attribute selection is enabled for all first level attributes",
        "tags": [
          "partyAccount"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Contains the APIX OAuth token as Bearer token. Enables the developer application access to the request resource.",
            "required": true,
            "type": "string",
            "x-example": "Bearer ylSkZIjbdWybfs4fUQe9BqP0LH5Z"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "either \"application/json\".",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "A unique transaction ID. If provided, the same value is returned, elsewise a new transaction id is generated.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "* The identifier for the language of the response. \n* Format: Two characters, ISO 3166-1 alpha2. \n * Valiid only if supported by the Microservice.\n* E.g. el=Greek, en=English",
            "type": "string",
            "required": false,
            "x-example": "en"
          },
          {
            "name": "vf-target-environment",
            "in": "header",
            "description": "Used for multiclient capability which, if specified, is used to extract the target endpoint .",
            "required": false,
            "type": "string",
            "x-example": "aws-test-es"
          },
         
          {
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "offset",
            "description": "Requested index for start of resources to be provided in response",
            "x-example": 1
          },
          {
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "limit",
            "description": "Requested number of resources to be provided in response",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "items": {
                "$ref": "#/definitions/PartyAccount"
              },
              "type": "array"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID, if provided, the same value is returned, elsewise a new value is generated.",
                "type": "string"
              },
              "Content-Type": {
                "type": "string",
                "description": "Always application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "To be picked from backend. If not coming from back end , set as no-cache.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": [
                {
                  "creditLimit": {
                    "unit": "EUR",
                    "value": 10000
                  },
                  "description": "Laura's PartyAccount",
                  "href": "https://host:port/accountManagement/v2/partyAccount/6698",
                  "id": "6698",
                  "lastModified": "2018-07-20T09:29:33.253Z",
                  "name": "Administration account",
                  "state": "Active",
                  "type": "Business",
                  "paymentStatus": "Due",
                  "billStructure": {
                    "presentationMedia": [
                      {
                        "href": "https://host:port/accountManagement/v2/billPresentationMedia/5499",
                        "id": "5499",
                        "name": "Email"
                      }
                    ],
                    "format": {
                      "href": "https://host:port/accountManagement/v2/billFormat/9847",
                      "id": "9847",
                      "name": "Summary invoice"
                    },
                    "cycleSpecification": {
                      "dateShift": 43,
                      "frequency": "monthly",
                      "href": "https://host:port/accountManagement/v2/billingCycleSpecification/4706",
                      "id": "4706",
                      "name": "Monthly billing"
                    }
                  },
                  "paymentPlan": [
                    {
                      "numberOfPayments": 10,
                      "paymentFrequency": "monthly",
                      "priority": 2,
                      "status": "Effective",
                      "totalAmount": {
                        "unit": "string",
                        "value": 543
                      },
                      "type": "regular",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.253Z",
                        "startDateTime": "2018-07-20T09:29:33.253Z"
                      },
                      "paymentMethod": {
                        "href": "https://host:port/onboardingManagement/paymentMethod/2942",
                        "id": "2942",
                        "name": "family payment"
                      }
                    }
                  ],
                  "financialAccount": {
                    "href": "https://host:port/accountManagement/v2/financialAccount/5860",
                    "id": "5860",
                    "name": "Partnership account",
                    "accountBalance": {
                      "amount": {
                        "unit": "USD",
                        "value": 55.79
                      },
                      "type": "DepositBalance",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.253Z",
                        "startDateTime": "2018-07-20T09:29:33.253Z"
                      }
                    }
                  },
                  "defaultPaymentMethod": {
                    "href": "https://host:port/onboardingManagement/paymentMethod/8509",
                    "id": "8509",
                    "name": "professional payment"
                  },
                  "relatedParty": [
                    {
                      "href": "https://host:port/partyManagement/organization/9653",
                      "id": "9653",
                      "name": "John Doe",
                      "role": "seller"
                    }
                  ],
                  "taxExemption": [
                    {
                      "certificateNumber": "45678909876",
                      "issuingJurisdiction": "Embassy",
                      "reason": "VIP",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.254Z",
                        "startDateTime": "2018-07-20T09:29:33.254Z"
                      }
                    }
                  ],
                  "contact": [
                    {
                      "contactName": "Anna Cristal",
                      "contactType": "primary",
                      "partyRoleType": "Publisher",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.254Z",
                        "startDateTime": "2018-07-20T09:29:33.254Z"
                      },
                      "contactMedium": [
                        {
                          "preferred": true,
                          "type": "TelephoneNumber",
                          "validFor": {
                            "endDateTime": "2018-07-20T09:29:33.254Z",
                            "startDateTime": "2018-07-20T09:29:33.254Z"
                          },
                          "characteristic": {
                            "city": "Dusseldorf",
                            "country": "Germany",
                            "emailAddress": "xyz@gmail.com",
                            "faxNumber": "string",
                            "phoneNumber": "string",
                            "postCode": "string",
                            "stateOrProvince": "string",
                            "street1": "string",
                            "street2": "string",
                            "type": "string"
                          }
                        }
                      ],
                      "relatedParty": {
                        "href": "https://host:port/partyManagement/organization/5755",
                        "id": "5755",
                        "name": "Richard Cole",
                        "role": "bill responsible"
                      }
                    }
                  ],
                  "accountBalance": [
                    {
                      "amount": {
                        "unit": "USD",
                        "value": 53.41
                      },
                      "type": "DepositBalance",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.254Z",
                        "startDateTime": "2018-07-20T09:29:33.254Z"
                      }
                    }
                  ],
                  "accountRelationship": [
                    {
                      "relationshipType": "contains",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.254Z",
                        "startDateTime": "2018-07-20T09:29:33.254Z"
                      },
                      "account": {
                        "description": "This account is .....",
                        "href": "https://host:port/accountManagement/v2/..account/2126",
                        "id": "2126",
                        "name": "Travel Account"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not allowed",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "description": "APIX common error as described in https://.com/tempcps/display/AF/Common+Error+Codes"
          }
        },
        "security": [
          {
            "apix_oauth": [
              "ACCOUNT_MANAGEMENT_ALL",
              "ACCOUNT_MANAGEMENT_PARTY_ACCOUNT_GET",
              "TMF666_ACCOUNT_MANAGEMENT_ALL"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createPartyAccount",
        "summary": "Creates a 'PartyAccount'",
        "description": "This operation creates a party account entity.",
        "tags": [
          "partyAccount"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Contains the APIX OAuth token as Bearer token. Enables the developer application access to the request resource.",
            "required": true,
            "type": "string",
            "x-example": "Bearer ylSkZIjbdWybfs4fUQe9BqP0LH5Z"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Representing any media type or a sub-type that is compatible with the media type application/json (analogous to the Accept headers).",
            "default": "application/json",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "either \"application/json\".",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "A unique transaction ID. If provided, the same value is returned, elsewise a new transaction id is generated.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "* The identifier for the language of the response. \n* Format: Two characters, ISO 3166-1 alpha2. \n * Valiid only if supported by the Microservice.\n* E.g. el=Greek, en=English",
            "type": "string",
            "required": false,
            "x-example": "en"
          },
          {
            "name": "vf-target-environment",
            "in": "header",
            "description": "Used for multiclient capability which, if specified, is used to extract the target endpoint .",
            "required": false,
            "type": "string",
            "x-example": "aws-test-es"
          },
          {
            "schema": {
              "$ref": "#/definitions/PartyAccount_Create"
            },
            "required": true,
            "in": "body",
            "name": "partyAccount",
            "description": "The Party Account to be created",
            "x-example": {
              "creditLimit": {
                "unit": "USD",
                "value": 10000
              },
              "description": "Laura's PartyAccount",
              "name": "Administration account",
              "state": "Active",
              "type": "Business",
              "paymentStatus": "Due",
              "relatedParty": [
                {
                  "href": "https://host:port/partyManagement/organization/9653",
                  "id": "9653",
                  "name": "John Doe",
                  "role": "owner"
                }
              ],
              "contact": [
                {
                  "contactName": "Anna Cristal",
                  "contactType": "primary",
                  "partyRoleType": "Publisher",
                  "validFor": {
                    "endDateTime": "2018-07-20T09:29:33.254Z",
                    "startDateTime": "2018-07-20T09:29:33.254Z"
                  },
                  "contactMedium": [
                    {
                      "preferred": true,
                      "type": "TelephoneNumber",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.254Z",
                        "startDateTime": "2018-07-20T09:29:33.254Z"
                      },
                      "characteristic": {
                        "city": "Dusseldorf",
                        "country": "Germany",
                        "emailAddress": "xyz@gmail.com",
                        "faxNumber": "string",
                        "phoneNumber": "string",
                        "postCode": "string",
                        "stateOrProvince": "string",
                        "street1": "string",
                        "street2": "string",
                        "type": "string"
                      }
                    }
                  ],
                  "relatedParty": {
                    "href": "https://host:port/partyManagement/organization/5755",
                    "id": "5755",
                    "name": "Richard Cole",
                    "role": "bill responsible"
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PartyAccount"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID, if provided, the same value is returned, elsewise a new value is generated.",
                "type": "string"
              },
              "Content-Type": {
                "type": "string",
                "description": "Always application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "To be picked from backend. If not coming from back end , set as no-cache.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "creditLimit": {
                  "unit": "USD",
                  "value": 10000
                },
                "description": "Laura's PartyAccount",
                "href": "https://host:port/accountManagement/v2/partyAccount/6698",
                "id": "6698",
                "lastModified": "2018-07-20T09:29:33.253Z",
                "name": "Administration account",
                "state": "Active",
                "type": "Business",
                "paymentStatus": "Due",
                "defaultPaymentMethod": {
                  "href": "https://host:port/onboardingManagement/paymentMethod/8509",
                  "id": "8509",
                  "name": "professional payment"
                },
                "relatedParty": [
                  {
                    "href": "https://host:port/partyManagement/organization/9653",
                    "id": "9653",
                    "name": "John Doe",
                    "role": "owner"
                  }
                ],
                "contact": [
                  {
                    "contactName": "Anna Cristal",
                    "contactType": "primary",
                    "partyRoleType": "Publisher",
                    "validFor": {
                      "endDateTime": "2018-07-20T09:29:33.254Z",
                      "startDateTime": "2018-07-20T09:29:33.254Z"
                    },
                    "contactMedium": [
                      {
                        "preferred": true,
                        "type": "TelephoneNumber",
                        "validFor": {
                          "endDateTime": "2018-07-20T09:29:33.254Z",
                          "startDateTime": "2018-07-20T09:29:33.254Z"
                        },
                        "characteristic": {
                          "city": "Dusseldorf",
                          "country": "Germany",
                          "emailAddress": "xyz@gmail.com",
                          "faxNumber": "string",
                          "phoneNumber": "string",
                          "postCode": "string",
                          "stateOrProvince": "string",
                          "street1": "string",
                          "street2": "string",
                          "type": "string"
                        }
                      }
                    ],
                    "relatedParty": {
                      "href": "https://host:port/partyManagement/organization/5755",
                      "id": "5755",
                      "name": "Richard Cole",
                      "role": "bill responsible"
                    }
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not allowed",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "description": "A unique transaction ID, if provided, the same value is returned, elsewise a new value is generated.",
                "type": "string"
              },
              "Content-Type": {
                "type": "string",
                "description": "Always application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "To be picked from backend. If not coming from back end , set as no-cache.",
                "type": "string"
              }
            },
            "description": "APIX common error as described in https://.com/tempcps/display/AF/Common+Error+Codes"
          }
        },
        "security": [
          {
            "apix_oauth": [
              "ACCOUNT_MANAGEMENT_ALL",
              "ACCOUNT_MANAGEMENT_PARTY_ACCOUNT_POST",
              "TMF666_ACCOUNT_MANAGEMENT_ALL"
            ]
          }
        ]
      }
    },
    "/partyAccount/{id}": {
      "get": {
        "operationId": "retrievePartyAccount",
        "summary": "Retrieves a 'PartyAccount' by Id",
        "description": "This operation retrieves a party account entity. Attribute selection is enabled for all first level attributes.",
        "tags": [
          "partyAccount"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Contains the APIX OAuth token as Bearer token. Enables the developer application access to the request resource.",
            "required": true,
            "type": "string",
            "x-example": "Bearer ylSkZIjbdWybfs4fUQe9BqP0LH5Z"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "either \"application/json\".",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "A unique transaction ID. If provided, the same value is returned, elsewise a new transaction id is generated.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "* The identifier for the language of the response. \n* Format: Two characters, ISO 3166-1 alpha2. \n * Valiid only if supported by the Microservice.\n* E.g. el=Greek, en=English",
            "type": "string",
            "required": false,
            "x-example": "en"
          },
          {
            "name": "vf-target-environment",
            "in": "header",
            "description": "Used for multiclient capability which, if specified, is used to extract the target endpoint .",
            "required": false,
            "type": "string",
            "x-example": "aws-test-es"
          },
         
          {
            "required": true,
            "type": "string",
            "name": "id",
            "in": "path",
            "description": "Identifier of the Party Account",
            "x-example": 6698
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {
            
              "Content-Type": {
                "type": "string",
                "description": "Always application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "To be picked from backend. If not coming from back end , set as no-cache.",
                "type": "string"
              }
            },
            "schema": {
              "items": {
                "$ref": "#/definitions/PartyAccount"
              },
              "type": "array"
            },
            "examples": {
              "application/json": [
                {
                  "creditLimit": {
                    "unit": "string",
                    "value": 10000
                  },
                  "description": "Laura's PartyAccount",
                  "href": "https://host:port/accountManagement/v2/partyAccount/6698",
                  "id": "6698",
                  "lastModified": "2018-07-20T09:29:33.253Z",
                  "name": "Administration account",
                  "state": "Active",
                  "type": "Business",
                  "paymentStatus": "Due",
                  "billStructure": {
                    "presentationMedia": [
                      {
                        "href": "https://host:port/accountManagement/v2/billPresentationMedia/5499",
                        "id": "5499",
                        "name": "Email"
                      }
                    ],
                    "format": {
                      "href": "https://host:port/accountManagement/v2/billFormat/9847",
                      "id": "9847",
                      "name": "Summary invoice"
                    },
                    "cycleSpecification": {
                      "dateShift": 43,
                      "frequency": "monthly",
                      "href": "https://host:port/accountManagement/v2/billingCycleSpecification/4706",
                      "id": "4706",
                      "name": "Monthly billing"
                    }
                  },
                  "paymentPlan": [
                    {
                      "numberOfPayments": 10,
                      "paymentFrequency": "monthly",
                      "priority": 2,
                      "status": "Effective",
                      "totalAmount": {
                        "unit": "string",
                        "value": 543
                      },
                      "type": "regular",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.253Z",
                        "startDateTime": "2018-07-20T09:29:33.253Z"
                      },
                      "paymentMethod": {
                        "href": "https://host:port/onboardingManagement/paymentMethod/2942",
                        "id": "2942",
                        "name": "family payment"
                      }
                    }
                  ],
                  "financialAccount": {
                    "href": "https://host:port/accountManagement/v2/financialAccount/5860",
                    "id": "5860",
                    "name": "Partnership account",
                    "accountBalance": {
                      "amount": {
                        "unit": "string",
                        "value": 55.79
                      },
                      "type": "DepositBalance",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.253Z",
                        "startDateTime": "2018-07-20T09:29:33.253Z"
                      }
                    }
                  },
                  "defaultPaymentMethod": {
                    "href": "https://host:port/onboardingManagement/paymentMethod/8509",
                    "id": "8509",
                    "name": "professional payment"
                  },
                  "relatedParty": [
                    {
                      "href": "https://host:port/partyManagement/organization/9653",
                      "id": "9653",
                      "name": "John Doe",
                      "role": "seller"
                    }
                  ],
                  "taxExemption": [
                    {
                      "certificateNumber": "45678909876",
                      "issuingJurisdiction": "Embassy",
                      "reason": "VIP",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.254Z",
                        "startDateTime": "2018-07-20T09:29:33.254Z"
                      }
                    }
                  ],
                  "contact": [
                    {
                      "contactName": "Anna Cristal",
                      "contactType": "primary",
                      "partyRoleType": "Publisher",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.254Z",
                        "startDateTime": "2018-07-20T09:29:33.254Z"
                      },
                      "contactMedium": [
                        {
                          "preferred": true,
                          "type": "TelephoneNumber",
                          "validFor": {
                            "endDateTime": "2018-07-20T09:29:33.254Z",
                            "startDateTime": "2018-07-20T09:29:33.254Z"
                          },
                          "characteristic": {
                            "city": "Dusseldorf",
                            "country": "Germany",
                            "emailAddress": "xyz@gmail.com",
                            "faxNumber": "string",
                            "phoneNumber": "string",
                            "postCode": "string",
                            "stateOrProvince": "string",
                            "street1": "string",
                            "street2": "string",
                            "type": "string"
                          }
                        }
                      ],
                      "relatedParty": {
                        "href": "https://host:port/partyManagement/organization/5755",
                        "id": "5755",
                        "name": "Richard Cole",
                        "role": "bill responsible"
                      }
                    }
                  ],
                  "accountBalance": [
                    {
                      "amount": {
                        "unit": "string",
                        "value": 53.41
                      },
                      "type": "DepositBalance",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.254Z",
                        "startDateTime": "2018-07-20T09:29:33.254Z"
                      }
                    }
                  ],
                  "accountRelationship": [
                    {
                      "relationshipType": "contains",
                      "validFor": {
                        "endDateTime": "2018-07-20T09:29:33.254Z",
                        "startDateTime": "2018-07-20T09:29:33.254Z"
                      },
                      "account": {
                        "description": "This account is .....",
                        "href": "https://host:port/accountManagement/v2/partyAccount/2126",
                        "id": "2126",
                        "name": "Travel Account"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not allowed",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "description": "APIX common error as described in https://.com/tempcps/display/AF/Common+Error+Codes"
          }
        },
        "security": [
          {
            "apix_oauth": [
              "ACCOUNT_MANAGEMENT_ALL",
              "ACCOUNT_MANAGEMENT_PARTY_ACCOUNT_GET",
              "TMF666_ACCOUNT_MANAGEMENT_ALL"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "patchPartyAccount",
        "summary": "Updates partially a 'PartyAccount' by Id",
        "description": "This operation allows partial updates of a party account entity.",
        "tags": [
          "partyAccount"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Contains the APIX OAuth token as Bearer token. Enables the developer application access to the request resource.",
            "required": true,
            "type": "string",
            "x-example": "Bearer ylSkZIjbdWybfs4fUQe9BqP0LH5Z"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Representing any media type or a sub-type that is compatible with the media type application/json (analogous to the Accept headers) eg application/merge-patch+json,application/json-patch+json",
            "default": "application/json",
            "required": false,
            "type": "string",
            "x-example": "application/merge-patch+json"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "either \"application/json\".",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "A unique transaction ID. If provided, the same value is returned, elsewise a new transaction id is generated.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "* The identifier for the language of the response. \n* Format: Two characters, ISO 3166-1 alpha2. \n * Valiid only if supported by the Microservice.\n* E.g. el=Greek, en=English",
            "type": "string",
            "required": false,
            "x-example": "en"
          },
          {
            "name": "vf-target-environment",
            "in": "header",
            "description": "Used for multiclient capability which, if specified, is used to extract the target endpoint .",
            "required": false,
            "type": "string",
            "x-example": "aws-test-es"
          },
          {
            "required": true,
            "type": "string",
            "name": "id",
            "in": "path",
            "description": "Identifier of the Party Account",
            "x-example": 3456
          },
          {
            "schema": {
              "$ref": "#/definitions/PartyAccount_Update"
            },
            "required": true,
            "in": "body",
            "name": "partyAccount",
            "description": "The Party Account to be updated",
            "x-example": {
              "creditLimit": {
                "unit": "USD",
                "value": 5000
              },
              "description": "Laura's Premium credit limit",
              "lastModified": "2018-07-20T09:29:33.253Z",
              "name": "Administration account",
              "state": "Active",
              "type": "Business",
              "paymentStatus": "Due"
            }
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/PartyAccount"
            },
            "examples": {
              "application/json": {
                "creditLimit": {
                  "unit": "string",
                  "value": 10000
                },
                "description": "Laura's Premium credit limit",
                "href": "https://host:port/accountManagement/v2/partyAccount/6698",
                "id": "6698",
                "lastModified": "2018-07-20T09:29:33.253Z",
                "name": "Administration account",
                "state": "Active",
                "type": "Business",
                "paymentStatus": "Due",
                "billStructure": {
                  "presentationMedia": [
                    {
                      "@referredType": "string",
                      "href": "https://host:port/accountManagement/v2/billPresentationMedia/5499",
                      "id": "5499",
                      "name": "Email"
                    }
                  ],
                  "format": {
                    "href": "https://host:port/accountManagement/v2/billFormat/9847",
                    "id": "9847",
                    "name": "Summary invoice"
                  },
                  "cycleSpecification": {
                    "dateShift": 43,
                    "frequency": "monthly",
                    "href": "https://host:port/accountManagement/v2/billingCycleSpecification/4706",
                    "id": "4706",
                    "name": "Monthly billing"
                  }
                },
                "paymentPlan": [
                  {
                    "numberOfPayments": 10,
                    "paymentFrequency": "monthly",
                    "priority": 2,
                    "status": "Effective",
                    "totalAmount": {
                      "unit": "string",
                      "value": 543
                    },
                    "type": "regular",
                    "validFor": {
                      "endDateTime": "2018-07-20T09:29:33.253Z",
                      "startDateTime": "2018-07-20T09:29:33.253Z"
                    },
                    "paymentMethod": {
                      "@referredType": "string",
                      "href": "https://host:port/onboardingManagement/paymentMethod/2942",
                      "id": "2942",
                      "name": "family payment"
                    }
                  }
                ],
                "financialAccount": {
                  "href": "https://host:port/accountManagement/v2/financialAccount/5860",
                  "id": "5860",
                  "name": "Partnership account",
                  "accountBalance": {
                    "amount": {
                      "unit": "string",
                      "value": 55.79
                    },
                    "type": "DepositBalance",
                    "validFor": {
                      "endDateTime": "2018-07-20T09:29:33.253Z",
                      "startDateTime": "2018-07-20T09:29:33.253Z"
                    }
                  }
                },
                "defaultPaymentMethod": {
                  "href": "https://host:port/onboardingManagement/paymentMethod/8509",
                  "id": "8509",
                  "name": "professional payment"
                },
                "relatedParty": [
                  {
                    "href": "https://host:port/partyManagement/organization/9653",
                    "id": "9653",
                    "name": "John Doe",
                    "role": "seller"
                  }
                ],
                "taxExemption": [
                  {
                    "certificateNumber": "45678909876",
                    "issuingJurisdiction": "Embassy",
                    "reason": "VIP",
                    "validFor": {
                      "endDateTime": "2018-07-20T09:29:33.254Z",
                      "startDateTime": "2018-07-20T09:29:33.254Z"
                    }
                  }
                ],
                "contact": [
                  {
                    "contactName": "Anna Cristal",
                    "contactType": "primary",
                    "partyRoleType": "Publisher",
                    "validFor": {
                      "endDateTime": "2018-07-20T09:29:33.254Z",
                      "startDateTime": "2018-07-20T09:29:33.254Z"
                    },
                    "contactMedium": [
                      {
                        "preferred": true,
                        "type": "TelephoneNumber",
                        "validFor": {
                          "endDateTime": "2018-07-20T09:29:33.254Z",
                          "startDateTime": "2018-07-20T09:29:33.254Z"
                        },
                        "characteristic": {
                          "city": "Dusseldorf",
                          "country": "Germany",
                          "emailAddress": "xyz@gmail.com",
                          "faxNumber": "string",
                          "phoneNumber": "string",
                          "postCode": "string",
                          "stateOrProvince": "string",
                          "street1": "string",
                          "street2": "string",
                          "type": "string"
                        }
                      }
                    ],
                    "relatedParty": {
                      "href": "https://host:port/partyManagement/organization/5755",
                      "id": "5755",
                      "name": "Richard Cole",
                      "role": "bill responsible"
                    }
                  }
                ],
                "accountBalance": [
                  {
                    "amount": {
                      "unit": "string",
                      "value": 53.41
                    },
                    "type": "DepositBalance",
                    "validFor": {
                      "endDateTime": "2018-07-20T09:29:33.254Z",
                      "startDateTime": "2018-07-20T09:29:33.254Z"
                    }
                  }
                ],
                "accountRelationship": [
                  {
                    "relationshipType": "contains",
                    "validFor": {
                      "endDateTime": "2018-07-20T09:29:33.254Z",
                      "startDateTime": "2018-07-20T09:29:33.254Z"
                    },
                    "account": {
                      "description": "This account is .....",
                      "href": "https://host:port/accountManagement/v2/partyAccount/2126",
                      "id": "2126",
                      "name": "Travel Account"
                    }
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not allowed",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "description": "APIX common error as described in https://.com/tempcps/display/AF/Common+Error+Codes"
          }
        },
        "security": [
          {
            "apix_oauth": [
              "ACCOUNT_MANAGEMENT_ALL",
              "ACCOUNT_MANAGEMENT_PARTY_ACCOUNT_PATCH",
              "TMF666_ACCOUNT_MANAGEMENT_ALL"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deletePartyAccount",
        "summary": "Deletes a 'PartyAccount' by Id",
        "description": "This operation deletes a party account entity. Operation only available to admin",
        "tags": [
          "partyAccount"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Contains the APIX OAuth token as Bearer token. Enables the developer application access to the request resource.",
            "required": true,
            "type": "string",
            "x-example": "Bearer ylSkZIjbdWybfs4fUQe9BqP0LH5Z"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "either \"application/json\"",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "A unique transaction ID. If provided, the same value is returned, elsewise a new transaction id is generated.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "* The identifier for the language of the response. \n* Format: Two characters, ISO 3166-1 alpha2. \n * Valiid only if supported by the Microservice.\n* E.g. el=Greek, en=English",
            "type": "string",
            "required": false,
            "x-example": "en"
          },
          {
            "name": "vf-target-environment",
            "in": "header",
            "description": "Used for multiclient capability which, if specified, is used to extract the target endpoint .",
            "required": false,
            "type": "string",
            "x-example": "aws-test-es"
          },
          {
            "required": true,
            "type": "string",
            "name": "id",
            "in": "path",
            "description": "Identifier of the Party Account",
            "x-example": 3456
          }
        ],
        "responses": {
          "204": {
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "description": "Deleted",
            "examples": {
              "application/json": "No content response"
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not allowed",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "description": "APIX common error as described in https://.com/tempcps/display/AF/Common+Error+Codes"
          }
        },
        "security": [
          {
            "apix_oauth": [
              "ACCOUNT_MANAGEMENT_ALL",
              "ACCOUNT_MANAGEMENT_PARTY_ACCOUNT_DELETE",
              "TMF666_ACCOUNT_MANAGEMENT_ALL"
            ]
          }
        ]
      }
    },
    "/billingAccount": {
      "get": {
        "operationId": "listBillingAccount",
        "summary": "List or find 'BillingAccount' objects",
        "description": "This operation list billing account entities. Attribute selection is enabled for all first level attributes.",
        "tags": [
          "billingAccount"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Contains the APIX OAuth token as Bearer token. Enables the developer application access to the request resource.",
            "required": true,
            "type": "string",
            "x-example": "Bearer ylSkZIjbdWybfs4fUQe9BqP0LH5Z"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "either \"application/json\".",
            "required": false,
            "type": "string",
            "x-example": "application/json"
          },
          {
            "name": "vf-trace-transaction-id",
            "in": "header",
            "description": "A unique transaction ID. If provided, the same value is returned, elsewise a new transaction id is generated.",
            "required": false,
            "type": "string",
            "x-example": "57072d7e-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "vf_ext_bp_id",
            "in": "header",
            "description": "A unique use case ID used for logging and end-to-end tracing.",
            "required": false,
            "type": "string",
            "x-example": "688c911a-92d4-11e7-abc4-cec278b6b50a"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "* The identifier for the language of the response. \n* Format: Two characters, ISO 3166-1 alpha2. \n * Valiid only if supported by the Microservice.\n* E.g. el=Greek, en=English",
            "type": "string",
            "required": false,
            "x-example": "en"
          },
          {
            "name": "vf-target-environment",
            "in": "header",
            "description": "Used for multiclient capability which, if specified, is used to extract the target endpoint .",
            "required": false,
            "type": "string",
            "x-example": "aws-test-es"
          },
          {
            "type": "string",
            "required": false,
            "in": "query",
            "name": "fields",
            "description": "Comma separated properties to display in response (or/and) a filtered search can also be applied in order to obtain only the resource entities that meet the criteria defined by the filtering parameters eg.:?name=<value> &owner.id=<value>",
            "x-example": "id,name,creditLimit"
          },
          {
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "offset",
            "description": "Requested index for start of resources to be provided in response",
            "x-example": 1
          },
          {
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "limit",
            "description": "Requested number of resources to be provided in response",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "vf-trace-transaction-id": {
                "type": "string",
                "description": "A unique transaction ID. If provided, the same value is\r\n returned, Otherwise a new transaction id is generated."
              },
              "Content-Type": {
                "type": "string",
                "description": "Always \"application/json"
              },
              "Cache-Control": {
                "description": "Cache control header.",
                "type": "string"
              },
              "Expires": {
                "description": "Expiration header token.",
                "type": "string"
              },
              "Pragma": {
                "description": "to be picked from the backend if available otherwise set as \"no-cache\"",
                "type": "string"
              }
            },
            "description": "Ok",
            "schema": {
              "items": {
                "$ref": "#/definitions/BillingAccount"
              },
              "type": "array"
            },
            "examples": {
              "application/json": [
                {
                  "paymentStatus": "Due",
                  "creditLimit": {
                    "unit": "string",
                    "value": 1000
                  },
                  "description": "This billing account ...",
                  "href": "https://host:port/onboardingManagement/billingAccount/4835",
                  "id": 4835,
                  "lastModified": "2018-07-21T13:42:18.962Z",
                  "name": "Home Account",
                  "state": "Active",
                  "type": "Business",
[...]
